+++
categories = [ "Education", "License Testing" ]
date = "2016-05-25T15:58:17-05:00"
description = ""
slug = ""
tags = []
title = "May Testing Results"
authors = [ "W0HNV" ]
+++
Congratulations to former students and newly licensed, or upgraded, hams who
tested at the May 17th RRRA testing session.

### New hams
* John KE0JHB
* Krista KE0JGZ
* Pam KE0JHH
* Tom B. (1) KE0JHA
* Tom B. (2) KE0JGX
* Dan KE0JHJ
* Kara KE0JGV
* James S. KE0JHG
* Adam KE0JHF

### Upgrades
* James A. KE0FZC
* Carrie KE0FZB

Thanks to our instructors and VEs.
<!--more-->
