<div id="arrl">
<div class="arrl tr">
	<div class="arrl td">
		<a href="http://www.ndarrlsection.com/"><img id="nd-section-badge" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="The ARRL ND Section" title="North Dakota Section News and Information"></a>
	</div>
	<div class="arrl td">
		<a href="http://arrl.org"><img id="arrl-logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="ARRL Logo" title="ARRL - The national association for Amateur Radio&reg;"></a>
	</div>
	<div class="arrl td">                
		<a href="http://www.arrldakota.org/"><img id="dakota-division-badge" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="The ARRL Dakota Division" title="The ARRL Dakota Division - Proudly serving Minnesota, North and South Dakota"></a>
	</div>
</div>
</div>
