<h3>What to bring to an <em>in-person</em> test</h3>

<ol>
<li>Photo ID</li>
<li><a href="#fee">Testing fee</a> (cash or check payable to <em>RRRA VE Team</em>)</li>
<li><a href="http://www.arrl.org/obtain-license-copy">Copy of current license</a> for upgrades</li>
</ol>

<p>
Additional information about what to bring to an exam
session&mdash;including guidance about calculators&mdash;is available on the
<a href="http://www.arrl.org/what-to-bring-to-an-exam-session">What to Bring
to an ARRL Exam Session page</a>
</p>

<h4 id="fee">License Test Fee</h4>

<dt>Regular  Licence Test Fee</dt>
<dd>The testing fee for examinees 18 years of age or older is
<strong>$15</strong>.</dd>

<dt>Discounted Youth License Test Fee</dt>
<dd><p>The testing fee for examinees under age 18 is <strong>only $5</strong>.</p>
<p><a href="http://www.arrl.org/what-to-bring-to-an-exam-session">Proof
of under 18 status</a> is required at the license testing session.</p>
<p>The <a
href="http://www.arrl.org/youth-licensing-grant-program">Youth Licensing
Grant Program</a> is sponsored by ARRL The National Association for
Amateur Radio&reg;.</p>

</dd>
