<aside id="categories-3" class="widget widget_categories">
	
	<h2 class="widget-title">Categories</h2>

	<ul>
		{{ range $key, $value := site.Taxonomies.categories }}
		
			{{/* "/categories//" was sneaking in ... */}}
			{{ if ne .Page.Title "Categories" }}
				{{ $url := $key | urlize }}
				{{ $section := index site.Params.categories $url }}
				{{ $title := "" }}
				
				<li>
					<a href="/categories/{{ $url }}/" title="{{ with $section.title }}{{ . }}{{ else }}{{ with $section.description }}{{ . }}{{ end }}{{ end }}">{{ .Page.Title }}</a>
				</li>
			{{ end }}

		{{ end }}

	</ul>

</aside>
