{{ $filename := "toml" | printf "%s.%s" .sign | printf "%s/%s" "data/call" }}
{{ if (fileExists $filename) }}
	{{ $recip :=  index .context.Site.Data.call .sign }}
	{{ $ddtitle := "" }}
	{{ $tel := "" }}
	{{ $subject := "" }}
	{{ with .subject }}{{ $subject = printf "%s%s" "?subject=" ( . | replaceRE ` ` "%20" ) }}{{ end }}

	{{ if and ( ne $recip nil ) ( gt $recip.email "" )  }}

		{{ if gt $recip.role "" }}
			{{ $ddtitle = $recip.role }}
		{{ else }}
			{{ $contact := .sign | upper | printf "%s %s" ( $recip.name | replaceRE " .*" "" )  }}
			{{ $ddtitle =  $contact }}
		{{ end }}

		{{ if gt $recip.tel "" }}
			{{ $tel = $recip.tel }}
		{{ else }}
			{{ $tel = .context.Site.Params.tel }}
		{{ end }}
			
		{{ $ddopen :=  "<span class=\"genericons-neue genericons-neue-menu\"></span></button><div id=\"contact-dropdown\" class=\"dropdown-content\">" | printf "%s%s" $ddtitle | printf "%s%s" "<div id=\"myDropdown\" class=\"dropdown\" onclick=\"toggleDropdown()\"><button class=\"dropbtn\">" | printf "%s" }}

		{{ $email_link := "</a></div>" | printf "%s%s" $recip.email | printf "%s%s" "\">" | printf "%s%s%s" $recip.email $subject | printf "%s%s" "<div><div class=\"genericons-neue genericons-neue-mail\"></div><a href=\"mailto:" | printf "%s" }}

		{{ $tel_link := "</a></div>" | printf "%s%s" $tel | printf "%s%s" "\">" | printf "%s%s" $tel | printf "%s%s" "<div><div class=\"genericons-neue genericons-neue-phone\"></div><a href=\"tel:" | printf "%s" }}

		<script>
		<!-- 
		function f( str ) { return decodeURIComponent(escape(window.atob( str ))); }
    		var myParent = document.getElementById("contact");
		myParent.innerHTML += f({{ $ddopen | base64Encode }});
		var myDiv = document.getElementById("contact-dropdown");
		myDiv.innerHTML += f({{ $email_link | base64Encode }});
		{{- if ne $recip.tel "none" -}}
		myDiv.innerHTML += f({{ $tel_link | base64Encode }});
		{{- end -}}
		myDiv.innerHTML += f({{ "</div></div>" | base64Encode }});
		{{ "// -->" | safeJS }}
		</script>
		<noscript>{{ with $recip.office }}{{ . }}{{ else }}{{ with $recip.name  | replaceRE " .*" "" }}{{ . }} {{ end }}{{ .sign }}{{ end }}</noscript>

	{{ else }}
			{{ .sign | markdownify }}
	{{ end }}
{{ else }}
			<strong>QRU</strong>
{{ end }}
