<div class="table">
<ul class="pagination">
	<li{{ if eq .Paginator.PageNumber 1 }} class="disabled"{{ end }}><a href="{{ with .Paginator.First }}{{ .URL }}{{ else }}.{{ end }}" >&laquo;&laquo;</a></li>
	<li{{ if eq .Paginator.HasPrev false }} class="disabled"{{ end }}><a href="{{ with .Paginator.Prev }}{{ .URL }}{{ else }}.{{ end }}" >&laquo;</a></li>

	{{ .Scratch.Set "limit" 5 }}
	{{ .Scratch.Set "first" 1 }}

	{{ if le .Paginator.TotalPages (.Scratch.Get "limit") }}
    {{ .Scratch.Set "last" .Paginator.TotalPages }}
	{{ else }}
		{{ .Scratch.Set "mid" (div (.Scratch.Get "limit") 2) }}
		{{ .Scratch.Add "mid" 1 }}
		{{ if lt .Paginator.PageNumber (.Scratch.Get "mid")}}
			{{ .Scratch.Set "last" (.Scratch.Get "limit") }}
		{{ else }}
			{{ .Scratch.Set "last" (add .Paginator.PageNumber (.Scratch.Get "mid")) }}
			{{ if gt (.Scratch.Get "last") .Paginator.TotalPages }}
				{{ .Scratch.Set "last" .Paginator.TotalPages }}
				{{ .Scratch.Add "last" 1 }}
			{{ end }}
			{{ .Scratch.Set "first" (sub (.Scratch.Get "last") (.Scratch.Get "limit")) }}
			{{ .Scratch.Add "last" -1 }}
		{{ end }}
	{{ end }}

	{{ $first := (sub (.Scratch.Get "first") 1) }}
	{{ $last := (sub (.Scratch.Get "last") 1) }}
	{{ range seq $first $last }}
		{{ with index $.Paginator.Pagers ( . ) }}
			<li class="pages{{ if eq $.Paginator.PageNumber (.PageNumber) }} active{{ end }}"><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
		{{ end }}
	{{ end }}

	<li{{ if eq .Paginator.HasNext false }} class="disabled"{{ end }}><a href="{{ with .Paginator.Next }}{{ .URL }}.{{ end }}" >&raquo;</a></li>
	<li{{ if eq .Paginator.PageNumber .Paginator.TotalPages }} class="disabled"{{ end }}><a href="{{ with .Paginator.Last }}{{ .URL }}{{ else }}.{{ end }}">&raquo;&raquo;</a></li>
</ul>
</div>
