<div class="table">
<ul class="pagination">
	<li{{ if eq .Paginator.PageNumber 1 }} class="disabled"{{ end }}><a href="{{ with .Paginator.First }}{{ .URL }}{{ else }}.{{ end }}" >&laquo;&laquo;</a></li>
	<li{{ if eq .Paginator.HasPrev false }} class="disabled"{{ end }}><a href="{{ with .Paginator.Prev }}{{ .URL }}{{ else }}.{{ end }}" >&laquo;</a></li>

	{{/* Generate a list of Paginator pages to be shown between the
	     navigation links. Center the current (i.e. active) page when
	     possible.
	*/}}

	{{ $first := 1 }} {{/* First page shown */}}
	{{ $last  := 0 }} {{/* Last page shown */}}
	{{ $mid   := 0 }} {{/* Offset to middle of page list */}}
	{{ $shown := 5 }} {{/* Number of pages shown */}}

	{{ if le .Paginator.TotalPages $shown }}
		{{/* Show all the pages */}}
		{{ $last = .Paginator.TotalPages }}
	{{ else }}
		{{/* Show a subset of the pages*/}}
		{{ $mid = add (div $shown 2) 1 }}
		{{ if lt .Paginator.PageNumber $mid}} 
			{{ $last = $shown }}
		{{ else }} {{/* Center on the current page  */}}
			{{ $last = add .Paginator.PageNumber $mid }}

			{{/* Enforce minimum list length */}}
			{{ if gt $last .Paginator.TotalPages }}
				{{ $last = add .Paginator.TotalPages 1 }}
			{{ end }}

			{{ $first = sub $last $shown }}
			{{ $last = sub $last 1 }}
		{{ end }}
	{{ end }}

	{{ range seq (sub $first 1) (sub $last 1) }}
		{{ with index $.Paginator.Pagers . }}
			<li class="pages{{ if eq $.Paginator.PageNumber (.PageNumber) }} active{{ end }}"><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
		{{ end }}
	{{ end }}

	<li{{ if eq .Paginator.HasNext false }} class="disabled"{{ end }}><a href="{{ with .Paginator.Next }}{{ .URL }}.{{ end }}" >&raquo;</a></li>
	<li{{ if eq .Paginator.PageNumber .Paginator.TotalPages }} class="disabled"{{ end }}><a href="{{ with .Paginator.Last }}{{ .URL }}{{ else }}.{{ end }}">&raquo;&raquo;</a></li>
</ul>
</div>
