{{/*
GitHub source link partial template
By: Steve Kostecke steve@kostecke.net k0stk@arrl.net

Usage:

Add to section (e.g. ../post/.. )  and other pages as:

	{{ partial "sourcelink.html" . }}

The source path will be automatically retrieved from the page's .File object.

Section indexes and pages without md files do not have a .File object. So the
source path must be set in a frontmatter "datasource" parameter.

*/}}

{{ $base :=  site.Params.gitbase }}

{{ $path := "" }}
{{ $type := "" }}
{{ with .Params.datasource }}
        {{ $path = . | printf "%s/%s" "data" }}
	{{ $type ="Source" }}
{{ else }} 
	{{ with .File }}
		{{ $path = .Path | printf "%s/%s" "content" }}
		{{ $type = "Source" }}
	{{ end }}
{{ end }}  

{{ if gt $path "" }}
<div style="text-align:center;margin-bottom: 24px;">
<span class="social-logo social-logo-github" style="vertical-align:text-bottom;margin-right:.3em;"></span>{{ $type }}: <a rel="nofollow" href="{{ $base }}/{{ $path }}">{{ $path }}</a>
</div>
{{ end }}

