<article class="post type-post status-publish format-standard hentry">
<div class="h-event">
	<header class="entry-header">
		{{ $relpermalink := .RelPermalink }}

		<div class="entry-meta">
			<div class="cat-links">
				{{ $idx := 0 }}
				{{ range .Params.dates }}
					{{ $dates := . }}
					{{ if and ( eq 0 $idx ) ( ne "hidden" ( urlize $dates ) ) }}
						{{ range $key, $taxonomy := $.Site.Taxonomies.dates }}
							{{ if and ( eq $key ( urlize $dates ) ) ( ne "hidden" ( urlize $dates ) ) }}

								{{ range $taxonomy.Pages.Reverse }}
									{{ if and (ne ($.Scratch.Get "this") nil) (eq ($.Scratch.Get "next") nil) }}
										{{ $.Scratch.Set "next" .RelPermalink }}
									{{ end }}
									{{ if eq ($.Scratch.Get "this") nil }}
										{{ if eq .RelPermalink $relpermalink }}
											{{ $.Scratch.Set "this" .RelPermalink }}
										{{ else }}
											{{ $.Scratch.Set "prev" .RelPermalink }}
										{{ end }}
									{{ end }}
								{{ end }}

								{{ range first 1 $taxonomy.Pages.Reverse }}
									<a class="nav{{ if eq .RelPermalink $relpermalink }} disabled"{{ else}}"{{ end }} title="First" href="{{ .RelPermalink }}">&laquo;&laquo;</a>
									<a class="nav{{ if eq .RelPermalink $relpermalink }} disabled"{{ else }}"{{ end }} title="Previous" href="{{ $.Scratch.Get "prev" }}">&laquo;</a>
								{{ end }}

								<span
class="taxonomy genericon genericon-month" style="font-size: 1.5em; vertical-align: baseline; padding-right: 0.4em" ></span><a class="taxonomy" href="/dates/{{ $key }}/" rel="tag">{{ $dates }}</a>

								{{ range last 1 $taxonomy.Pages.Reverse }}
									<a class="nav{{ if eq .RelPermalink $relpermalink }} disabled"{{ else }}"{{ end }} title="Next" href="{{ $.Scratch.Get "next" }}">&raquo;</a>
									<a class="nav{{ if eq .RelPermalink $relpermalink }} disabled"{{ else }}"{{ end }} title="Last" href="{{ .RelPermalink }}">&raquo;&raquo;</a>
								{{ end }}

							{{ end }}
						{{ end }}
						{{ $idx = add $idx 1 }}
					{{ else if and ( eq 1 $idx ) ( ne "hidden" ( urlize $dates ) ) }}
						<br>Also in: <a rel="tag" href="/dates/{{ $dates | urlize }}">{{ $dates }}</a>
						{{ $idx = add $idx 1 }}
					{{ else if ne "hidden" ( urlize $dates ) }}
						&bull; <a rel="tag" href="/dates/{{ $dates | urlize }}">{{ $dates }}</a>
					{{ end }}
				{{ end }}
			</div>
		</div>
		<h1 class="p-name entry-title">{{ .Title }}{{ if in .Site.Params.status .Params.status }} {{ upper .Params.status }}{{ end }}</h1>
		{{ with  .OutputFormats.Get "calendar" -}}
			<span class="noprint"><span class="genericon genericon-day" style="font-size: 1.5em; padding-right: 0.4em" ></span><a style="text-decoration: none;" title="Get automatic iCalendar updates for this single event" href="{{ .RelPermalink | safeURL }}">Add this single event to your device</a></span>
		{{- end }}
	</header>
	<div class="entry-content">
		<dl>
			{{ if not ( or ( eq "canceled" .Params.status ) ( eq "postponed" .Params.status ) ) }}
				<dt class="twocol header">WHEN:</dt><dd class="twocol"><time class="dt-start" datetime="{{ .Date }}">{{ .Date.Format "Mon, 02 Jan 2006 15:04 MST" | replaceRE " 00:00 UTC" "" }}</time></dd>
				{{ if gt .Params.endtime "" }}
					<dt class="twocol header">UNTIL:</dt><dd class="twocol"><time class="dt-end" datetime="{{ .Params.endtime }}">{{ dateFormat "Mon, 02 Jan 2006 15:04 MST" .Params.endtime | replaceRE " 00:00 UTC" "" }}</time></dd>
				{{ end }}
			{{ else }}
				<dt class="twocol header">WAS:</dt><dd class="twocol"><time class="dt-start" datetime="{{ .Date }}">{{ .Date.Format "Mon, 02 Jan 2006 15:04 MST" | replaceRE " 00:00 UTC" "" }}</time></dd>
			{{ end }}
			{{ if gt .Params.location "" }}
				<dt class="twocol header">WHERE:</dt><dd class="twocol"><span class="p-location">{{ .Params.location | markdownify }}</span></dd>
			{{ end }}
			{{ with .Params.sponsor }}
				<dt class="twocol header">SPONSOR:</dt><dd class="twocol">{{ . | markdownify }}</dd>
                        {{ end }}	
			{{ with .Params.aprs }}
				<dt class="twocol header">APRS OBJECT:</dt><dd class="twocol">{{ . | markdownify }}</dd>
                        {{ end }}	
			{{ with .Params.talkin }}
				<dt class="twocol header">TALK-IN:</dt><dd class="twocol">{{ . | markdownify }}</dd>
                        {{ end }}	
			{{ if gt .Params.contact "" }}
			<dt class="twocol header">CONTACT:</dt><dd class="twocol"><div id="contact" class="p-organizer">
				{{ partial "contact.html" (dict "context" . "sign" .Params.contact ) }}
			</div></dd>
			{{ end }}
		</dl>
		{{ if or ( eq "canceled" .Params.status ) ( eq "postponed" .Params.status ) }} 
				<p class="clear"></p><div class="banner alert">
					<p><strong>THIS EVENT HAS BEEN {{ upper .Params.status }}.</strong></p>
				</div>
		{{ end }}
		<p class="p-summary clear">{{ .Content }}</p>
		{{ .Scratch.Set "source" "layouts/partials/calendar/event.html" }}
		{{ partial "sourcelink.html" . }}
	</div>

	<footer class="entry-meta">
	</footer>

</div>
</article> <!-- #post-## -->
