<article class="post type-post status-publish format-standard hentry">
<div class="h-event">
	<header class="entry-header">
		{{ $baseurl := .Site.BaseURL }}
		{{ $relpermalink := .RelPermalink }}

		<div class="entry-meta">
			<div class="cat-links">
				{{ range .Params.dates }}
					{{ $dates := . }}
					{{ range $key, $taxonomy := $.Site.Taxonomies.dates }}
						{{ if eq $key $dates }}

							{{ range $taxonomy.Pages.Reverse }}
								{{ if and (ne ($.Scratch.Get "this") nil) (eq ($.Scratch.Get "next") nil) }}
									{{ $.Scratch.Set "next" .RelPermalink }}
								{{ end }}
								{{ if eq ($.Scratch.Get "this") nil }}
									{{ if eq .RelPermalink $relpermalink }}
										{{ $.Scratch.Set "this" .RelPermalink }}
									{{ else }}
										{{ $.Scratch.Set "prev" .RelPermalink }}
									{{ end }}
								{{ end }}
							{{ end }}

							{{ range first 1 $taxonomy.Pages.Reverse }}
								<a class="nav{{ if eq .RelPermalink $relpermalink }} disabled"{{ else}}"{{ end }} title="First" href="{{ .RelPermalink }}">&laquo;&laquo;</a>
								<a class="nav{{ if eq .RelPermalink $relpermalink }} disabled"{{ else }}"{{ end }} title="Previous" href="{{ $.Scratch.Get "prev" }}">&laquo;</a>
							{{ end }}

							<a class="taxonomy" href="{{ $baseurl}}/dates/{{ lower $key | urlize }}/" rel="tag">{{ $key }}</a>

							{{ range last 1 $taxonomy.Pages.Reverse }}
								<a class="nav{{ if eq .RelPermalink $relpermalink }} disabled"{{ else }}"{{ end }} title="Next" href="{{ $.Scratch.Get "next" }}">&raquo;</a>
								<a class="nav{{ if eq .RelPermalink $relpermalink }} disabled"{{ else }}"{{ end }} title="Last" href="{{ .RelPermalink }}">&raquo;&raquo;</a>
							{{ end }}

						{{ end }}
					{{ end }}
				{{ end }}
			</div>
		</div>
		<h1 class="p-name entry-title">{{ .Title }}</h1>
		{{ with  .OutputFormats.Get "calendar" -}}
			<span class="genericon genericon-day" style="font-size: 1.5em; padding-right: 0.4em" ></span><a style="text-decoration: none;" title="Subscribe to automatic calendar updates for this single event using webcal" href="{{ .Permalink | safeURL }}">Subscribe</a> &bull; <a style="text-decoration: none;" title="Import this single event to your calendar (ICS)" href="{{ .RelPermalink | safeURL }}">Import to your calendar</a>
		{{- end }}
	</header>
	<div class="entry-content">
		<dl>
			<dt class="twocol header">WHEN:</dt><dd class="twocol"><time class="dt-start" datetime="{{ .Date }}">{{ .Date.Format "Mon, 02 Jan 2006 15:04 MST" }}</time></dd>
			{{ if gt .Params.endtime "" }}
			<dt class="twocol header">UNTIL:</dt><dd class="twocol"><time class="dt-end" datetime="{{ .Params.endtime }}">{{ dateFormat "Mon, 02 Jan 2006 15:04 MST" .Params.endtime }}</time></dd>
			{{ end }}
			{{ if gt .Params.location "" }}
			<dt class="twocol header">WHERE:</dt><dd class="twocol"><span class="p-location">{{ .Params.location | markdownify }}</span></dd>
			{{ end }}
			{{ with .Params.sponsor }}
				<dt class="twocol header">SPONSOR:</dt><dd class="twocol"><span class="p-location">{{ . | markdownify }}</span></dd>
		  {{ end }}	
			{{ if gt .Params.contact "" }}
			<dt class="twocol header">CONTACT:</dt><dd class="twocol"><div id="contact" class="p-organizer">
				{{ partial "contact.html" (dict "context" . "sign" .Params.contact ) }}
			</div></dd>
			{{ end }}
		</dl>
		<p class="p-summary clear">{{ .Content }}</p>
	</div>

	<footer class="entry-meta">
	</footer>

</div>
</article> <!-- #post-## -->
