<article class="post type-post status-publish format-standard hentry">
<div class="h-event">
	<header class="entry-header">

		{{/* Current date sequence and "also in" list */}}
		{{ $dates := "" }}
		{{ $also_in  := slice }}
		{{ range .Params.dates }}
			{{ $item := . }}
			{{ if ne "hidden" ( urlize $item ) }}
				{{ if eq "" $dates }}
					{{ $dates = $item }}
				{{ else }}
					{{ $link := "</a>" | printf "%s%s" ( $item ) | printf "%s%s" "\">" | printf "%s%s" ( $item | urlize ) | printf "%s%s" "<a href=\"/dates/" }}
					{{ $also_in = $also_in | append $link }}
				{{ end }}
			{{ end }}
		{{ end }}

		{{/* Nav links (for this and future years) for this page */}}
		{{ $relpermalink := .RelPermalink }}
		{{ $firstLink := "" }}
		{{ $prevLink := $relpermalink }}
		{{ $selfLink := "" }}
		{{ $nextLink := $relpermalink }}
		{{ $lastLink := "" }}
		{{ range $key, $taxonomy := site.Taxonomies.dates }}
			{{ if eq $key ( lower $dates ) }}
				{{ $startOfYear := time.AsTime (printf "%d-01-01" now.Year) }}
				{{ range first 1 ( where $taxonomy.Pages.Reverse "Date" "ge" $startOfYear ) }}
					{{ $firstLink = .RelPermalink }}
				{{ end }}
				{{ range last 1 $taxonomy.Pages.Reverse }}
					{{ $lastLink = .RelPermalink }}
				{{ end }}
				{{ range where $taxonomy.Pages.Reverse "Date" "ge" $startOfYear }}
					{{ if ne "" $selfLink }}
						{{ $nextLink = .RelPermalink }}
						{{ break }}
					{{ else }}
						{{ if eq .RelPermalink $relpermalink }}
							{{ $selfLink = .RelPermalink }}
						{{ else }}
							{{ $prevLink = .RelPermalink }}
						{{ end }}
					{{ end }}
				{{ end }}
				{{ break }}
			{{ end }}
		{{ end }}

		<div class="entry-meta">
			<div class="cat-links">
				<a class="nav{{ if eq $selfLink $firstLink }} disabled{{ end }}" title="First" href="{{ $firstLink }}">&laquo;&laquo;</a>
				<a class="nav{{ if eq $selfLink $prevLink }} disabled{{ end }}" title="Previous" href="{{ $prevLink }}">&laquo;</a>
				<a class="taxonomy" href="/dates/{{ $dates | urlize }}" rel="tag">{{ $dates }}</a>
				<a class="nav{{ if eq $selfLink $nextLink }} disabled{{ end }}" title="Next" href="{{ $nextLink }}">&raquo;</a>
				<a class="nav{{ if eq $selfLink $lastLink }} disabled{{ end }}" title="Last" href="{{ $lastLink }}">&raquo;&raquo;</a>
				{{ with $also_in }}
				<div class="also">Also in: {{ delimit . " &bull; " | safeHTML }}</div>
				{{ end }}
			</div> {{/* cat-links */}}
		</div> {{/* entry-meta */}}

		<h2 class="p-name entry-title">{{ .Title }}{{ if in site.Params.status .Params.status }} {{ upper .Params.status }}{{ end }}</h2>
		{{ with  .OutputFormats.Get "calendar" -}}
			<span class="noprint"><span class="genericons-neue genericons-neue-day" style="font-size: 1.5em; padding-right: 0.4em" ></span><a style="text-decoration: none;" title="Get automatic iCalendar updates for this single event" href="{{ .RelPermalink | safeURL }}">Add this single event to your device</a></span>
		{{- end }}
	</header>
	<div class="entry-content">
		<dl>
			{{ if not ( or ( eq "canceled" .Params.status ) ( eq "postponed" .Params.status ) ) }}
				<dt class="twocol header">WHEN:</dt><dd class="twocol"><time class="dt-start" datetime="{{ .Date }}">{{ .Date.Format "Mon, 02 Jan 2006 15:04 MST" | replaceRE " 00:00 UTC" "" }}</time></dd>
				{{ if gt .Params.endtime "" }}
					<dt class="twocol header">UNTIL:</dt><dd class="twocol"><time class="dt-end" datetime="{{ .Params.endtime }}">{{ dateFormat "Mon, 02 Jan 2006 15:04 MST" .Params.endtime | replaceRE " 00:00 UTC" "" }}</time></dd>
				{{ end }}
			{{ else }}
				<dt class="twocol header">WAS:</dt><dd class="twocol"><time class="dt-start" datetime="{{ .Date }}">{{ .Date.Format "Mon, 02 Jan 2006 15:04 MST" | replaceRE " 00:00 UTC" "" }}</time></dd>
			{{ end }}
			{{ if gt .Params.location "" }}
				<dt class="twocol header">WHERE:</dt><dd class="twocol"><span class="p-location">{{ .Params.location | markdownify }}</span></dd>
			{{ end }}
			{{ with .Params.sponsor }}
				<dt class="twocol header">SPONSOR:</dt><dd class="twocol">{{ . | markdownify }}</dd>
      {{ end }}	
			{{ with .Params.talkin }}
				<dt class="twocol header">TALK-IN:</dt><dd class="twocol">{{ . | markdownify }}</dd>
      {{ end }}	
			{{ with .Params.aprs }}
				<dt class="twocol header">APRS OBJECT:</dt><dd class="twocol">{{ . | markdownify }}</dd>
      {{ end }}	
			{{ if gt .Params.contact "" }}
			<dt class="twocol header">CONTACT:</dt><dd class="twocol"><div id="contact" class="p-organizer">
				{{ partialCached "contact.html" (dict "context" . "sign" .Params.contact ) .Params.contact }}
			</div></dd>
			{{ end }}
		</dl>
		{{ if or ( eq "canceled" .Params.status ) ( eq "postponed" .Params.status ) }} 
				<p class="clear"></p><div class="banner alert">
					<p><strong>THIS EVENT HAS BEEN {{ upper .Params.status }}.</strong></p>
				</div>
		{{ end }}
		<p class="p-summary clear">{{ .Content }}</p>


	</div>

	<footer class="entry-meta">
	</footer>

</div>
</article> <!-- #post-## -->
