<dt class="twocol{{ if eq .highlight "yes" }} highlight{{ end }}">{{ .page.Date.Format "Jan 2" }}</dt>
<dd class="twocol{{ if eq .highlight "yes" }} highlight{{ end }}">
<a href="{{ .page.RelPermalink }}">{{ .page.LinkTitle }}{{ if in .Site.Params.status .Params.status }} <span style="color: red;">{{ upper .page.Params.status }}</span>{{ end }}</a>{{ if gt .page.Params.ncs "" }} <span style="display:none">- </span><div class="ncs"><a href="/ncs/{{ index .page.Params.ncs 0 | urlize }}">{{ index .page.Params.ncs 0 }}</a></div>{{ end }}
</dd>
