{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			<header class="archive-header">
				<h1 class="archive-title">{{ .Title }} Blog</h1>
				{{ $cat := index .Site.Params.categories (.Title | urlize) }}
				{{ $rsstitle := .Title}}
				{{ partial "rss" ( dict "rsstitle" $rsstitle ) }}
				{{ with $cat.description }}
					<div style="margin-top: 12px;">{{ $cat.description | markdownify }}</div>
				{{ end }}
				{{ $paginator := .Paginate (where .Data.Pages "Type" "post") 5 }}
				{{ if gt $paginator.TotalPages 1 }}{{ partial "pagination.html" . }}{{ end }}
			</header>

			{{ range $paginator.Pages }}
				{{ partial "summary.html" . }}
			{{ end }}

			{{ if gt $paginator.TotalPages 1 }}{{ partial "pagination.html" . }}{{ end }}
		
		</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->
		
		</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}
