<h3>About the ARRL The Doctor Is In Podcast</h3>

<p><em>The Doctor is In</em> was a biweekly
<a href="https://en.wikipedia.org/wiki/Podcast">podcast</a>
which presented lively discussions of many technical aspects of Amateur Radio
from April 7, 2016, to  December 19, 2019.</p>

<p>The podcast was hosted by QST Editor in Chief Steve Ford, WB8IMY, and
the Doctor himself, Joel Hallas, W1ZR.</p>

<p>Sponsorship for this podcast was provided by
<a href="http://www.dxengineering.com/">DX Engineering</a>.</p>

<p>A complete podcast archive is available on the ARRL's
<a href="http://www.arrl.org/doctor">The Doctor is In</a> page.</p>
