{{ $src := "" }}
{{ $type := "audio/mp3" }}
{{ $text := "Download" }}
{{ if .IsNamedParams }}
	{{ with .Get "src" }}{{ $src = . }}{{ end }}
	{{ with .Get "type" }}{{ $type = . }}{{ end }}
	{{ with .Get "text" }}{{ $text = . }}{{ end }}
{{ else }}
	{{ with .Get 0 }}{{ $src = . }}{{ end }}
	{{ with .Get 1 }}{{ $text = . }}{{ end }}
{{ end }}
{{ $src := $src | replaceRE "^https?:" "" }}
<audio id="audio-player" src="{{ $src }}" type="{{ $type }}" controls="controls"></audio>
<div>
	<span class="genericons-neue genericons-neue-audio"></span>
	<a href="{{ $src }}">{{ $text }}</a>
</div>
<p class="clear"></p>
