{{ $anchor := index .Params 0 }}
{{ $title  := index .Params 1 }}

{{ if eq "" $title }}
	{{ if gt "" $anchor }}
		{{ $title = $anchor }}
	{{ else }}
		{{ $title = "top" }}	
	{{ end }}
{{ end }}

<a class="alignright noprint" style="text-decoration:none;transform:translateY(1.4em);"
href="#{{ with $anchor }}{{ . | urlize }}{{ else }}top{{ end }}"
alt="Back to {{ $title }}"
title="Back to {{ $title }}">
<span class="genericons-neue genericons-neue-{{ with $anchor }}previous{{ else }}top{{ end }}"
style="width:24px;height:24px;font-size:24px;"></span></a>
