
{{/* Handle either named or positional parameters
   *
   * "id" is the identifier (usually callsign)
   * "option" can be (first) name or fullname
   * "subject" is the e-mail subject
   *
   * Positionals are (#1) "id" and (#2) "option" for
   * backwards compatibility. At some point option should
   * be restricted to named parameters only
   */}}

{{ $option := "" }}
{{ $sign := "" }}
{{ $subject := "" }}

{{ if .IsNamedParams }}
	{{ with .Get "id" }}{{ $sign =  .  }}{{ end }}
	{{ with .Get "option" }}{{ $option =  .  }}{{ end }}
	{{ with .Get "subject" }}{{ $subject = printf "%s%s" "?subject="  ( . | replaceRE ` ` "%20" ) }}{{ end }}
{{ else }}
	{{ with .Get 0 }}{{ $sign =  .  }}{{ end }}
	{{ with .Get 1 }}{{ $option =  .  }}{{ end }}
{{ end }}

{{ $filename := "toml" | printf "%s.%s" $sign | printf "%s/%s" "data/call" }}

{{ if (fileExists $filename) }} {{/* Contact found in data/call, it is safe to proceed */}}
	{{ $recip := index .Page.Site.Data.call $sign }}
	{{ if ne $recip nil }} {{/* Read suceeded */}}
		{{ $linktext := "" }}
		{{ if gt $recip.email "" }}

			{{/* Name was requested and is available. This
			   * overides other options when possible.
			   */}}
			{{ if and ( findRE ".*?name" $option ) ( gt $recip.name "" ) }}
				{{ $call := "" }}
				{{ $name := "" }}
				{{ if gt $recip.call "" }}
		        		{{ $call = $recip.call }}
				{{ else }}
					{{ $call = $sign }}
				{{ end }}
				{{ if eq $option "fullname" }}
					{{ $name = $recip.name }}
				{{ else }}
					{{ $name = ( $recip.name | replaceRE " .*" "" )  }}
				{{ end }} 
				{{ $linktext := printf "%s %s" $name $call }}

			{{/* Role contact */}}
			{{ else if gt $recip.role "" }}
				{{ $linktext = $recip.role }}

			{{/* Hide their callsign */}}
			{{ else if or ( eq $recip.call "none" ) ( eq $recip.call "" ) }}
				{{ $linktext = $recip.name }} 

			{{/* Last straw... */}}
			{{ else }}
				{{ $linktext = $sign }}
			{{ end }}

			{{/* Output the obfuscated mailto markup */}}
			{{ $email := "</a><span class=\"genericons-neue genericons-neue-mail\"></span>" | printf "%s%s" $linktext | printf "%s%s" "\">" | printf "%s%s%s" $recip.email $subject | printf "%s%s" "<a href=\"mailto:" | printf "%s" }}
			<script>
			function f( str ) { return decodeURIComponent(escape(window.atob( str ))); }
			X=('{{ $email | base64Encode }}')
			document.write(f(X))
			</script>
			<noscript>
			{{ $linktext }}
			</noscript>
		{{ else }} {{/* No e-mail address on file */}}
			{{ $linktext }}
		{{ end }}
	{{ else }} {{/* Read failed */}}
		{{ $sign }}
	{{ end }}
{{ else }} {{/* Contact not found in data/call */}}
  {{ $sign }}
{{ end }}
