{{/*
Radio List Short Code
By: Steve Kostecke k0stk@arrl.net

Builds a table from definition files in
./data/radios such as:

location = "Moorhead, MN"
call = "[W0ILO](/radios/)"
mode = "Analog"
frequency = [ "444.875 + T123", "repeaterbook 27 267" ]
notes = "[RRRA](/)"
qrt = YYYY-MM-DD

All definition file lines are passed through the markdown formatter.

The "frequency" line can either be the two element array shown above or
a single string (e.g. "444.875 + T123").

The second member of the array version of the "frequency" line is used to 
generate a repeaterbook link

The "qrt" line specifies the (possibly future) date a radio system is shut
down. A qrt system will be listed as such in radio chart for 30 days following
the qrt date. Systems which have been qrt for more than 30 days are not
displayed.

*/}}

{{ $linklist := "" }}
{{ $mlist := "All " }}
{{ $self  := index .Params 0 | urlize }}

{{/* Modes displayed in the filter menu must be defined in config.toml */}}
{{ range sort site.Data.radios ".mode" }}
	{{ if and ( in site.Params.modes ( lower .mode ) ) ( not ( in $mlist .mode ) ) }}
		{{ $mlist = printf "%s%s " $mlist .mode }}
	{{ end }}
{{ end }}

{{ $modes := split $mlist " " }}
{{ range $modes }}
	{{ $text := . }}
	{{ if and ( gt $text "" ) ( not ( eq $self ( $text | urlize ))) }}
		{{ $linklist = printf "%s%s" $linklist "<div><div class=\"genericons-neue genericons-neue-search\"></div><a href=\"/radios/list/" }}
		{{ $linklist = printf "%s%s%s%s%s" $linklist ( $text | urlize ) "\">" $text "</a></div>" }}
	{{ end }}
{{ end }}

<div id="myDropdown" class="dropdown" onclick="toggleDropdown()">
	<button class="dropbtn">Filter by mode<span class="genericons-neue genericons-neue-menu"></span></button>
	<div id="contact-dropdown" class="dropdown-content">
	{{ $linklist | safeHTML }}
	</div> {{/* End: dropdown-content */}}
</div> {{/* End: dropdown (wrapper) */}}

<p class="clear"></p>

<section class="table" id="radios">
<header class="thead">
	<div class="tr">
		<div class="th">Location</div>
		<div class="th">ID &amp; Mode</div>
		<div class="th">Frequency</div>
		<div class="th">Notes</div>
	</div>
</header>

{{/* QRT system publication cut off date (see QRT notes above) */}}
{{ $cutoff := now.AddDate 0 0 -30 | dateFormat "2006-01-02" }}

{{ range sort site.Data.radios ".location" }}
	{{ $qrt := .qrt | default $cutoff }}
	{{ if ge $qrt $cutoff }}
		{{ $test := $self }}
		{{ $mode := .mode | urlize }}

		{{ $location := "" }}
		{{ $call := "" }}
		{{ $notes := "" }}
		{{ $freq := "" }}

		{{/* Allow "MMDVM" repeaters to specify supported modes in their notes */}}
		{{ if and ( eq "mmdvm" $mode ) ( in ( .notes | urlize ) $self ) }}
			{{ $test = printf "mmdvm|%s" $self }}
		{{ end }}

		{{ if or ( eq $self "all" ) ( or ( in $test $mode ) ) }}

		{{/* Load table cell contents */}}
		{{ if gt ( now.Format "2006-01-02" ) .qrt }} {{/* Lined out plain text */}}
			{{ $location = printf "~~%s~~" ( .location | plainify ) }}
			{{ $call = printf "~~%s~~" ( .call | plainify ) }}
			{{ $mode = printf "~~%s~~" ( .mode | plainify ) }}
			{{ $notes = printf "%s %s" "QRT" .qrt }}

			{{ if reflect.IsSlice .frequency }} {{/* we have an array */}}
				{{ $freq = printf "~~%s~~" ( index .frequency 0 | plainify ) }}
			{{ else }} {{/* its only a string */}}
				{{ $freq = printf "~~%s~~" ( .frequency | plainify ) }}
			{{ end }}

		{{ else }}
			{{ $location = ( .location ) }}
			{{ $call = ( .call ) }}
			{{ $mode = ( .mode ) }}
			{{ $notes = ( .notes ) }}

			{{ if reflect.IsSlice .frequency }}
				{{ $rf      := index .frequency 0 }}
				{{ $rptbook := index .frequency 1 }}
				{{ $slice   := split $rptbook " " }}
				{{ $state   := index $slice 1 }}
				{{ $id      := index $slice 2 }}
				{{ $freq =  "</a>" | printf "\">%s%s" $rf | printf "&ID=%s%s" $id | printf "<a href=\"https://www.repeaterbook.com/repeaters/details.php?state_id=%s%s" $state | printf "%s" }} 
			{{ else }}
				{{ $freq = .frequency }}
			{{ end }}

		{{ end }}

		<div class="tr">
		<div class="td alignright">{{ $location  | markdownify }}</div>
		<div class="td">{{ $call | markdownify }}<br \>{{ $mode | markdownify }}</div>
		<div class="td">{{ $freq | markdownify }}</div>
		<div class="td">{{ $notes | markdownify }}</div>
		</div>
		{{ end }}
	{{ end }}
{{ end }}

</section>

