{{/*
Net List Short Code
By: Steve Kostecke steve@kostecke.net k0stk@arrl.net

Builds a table from definition files in
./data/nets such as:

day = 7
time ="20:30"
season = "CST"
id = "[NDSU ARS](https://www.w0hsc.org/) VHF Analog"
freq = [ "147.090 +", "repeaterbook 38 22" ]
contact = "KE0PJR"
inactive = true | false

The "day", "id", "contact", and the single string variant of "freq"
definition file lines are passed through the markdown formatter.

The "day" line uses the day numbering from Vixie crontab (0-7, 0 or 7 is
Sunday). For daily nets use the quoted string "D". This parameter and
the time are used for sorting the nets.

The season line is optional and can be used to specify Standard Time
Daylight Saving Time for this net definition. Use the identifiers for the
build server's timezone (e.g. CDT/CST for Central Time). This won't work if
you insist on using UTC.

The "frequency" line can either be the two element array shown above or
a single string (e.g. "444.875 + T123").

The second member of the array version of the "frequency" line is used
to generate a repeaterbook link. The first repeaterbook argument is the
state and the second argument is the repeater ID number.

The "contact" line will look up call-signs in ./data/call and defaults
to the provided contact information. E-mail addresses retrieved from
./data/call are obfuscated; literal contact information is not.

Setting "inactive = true" will inhibit listing of a net. This allows nets to
be disabled while keeping the definition file avilable for later re-use.

*/}}

{{ $netdates := "" }}
{{ $season := now.Format "MST" }}
{{ $lastmod := "" }}

{{/* Find the time stamp for the last file changed in data/nets.
     We start by scanning the directory and collecting file ModTimes
     and names. The ModTime is used as a self-sorting key.
*/}}
{{ range (readDir "data/nets") }} 
	{{ $filename := .Name | printf "%s/%s" "data/nets" }}
	{{ $stat := os.Stat $filename }}
	{{ $key := printf "%s" $stat.ModTime }}
	{{ $value := $stat.Name }}
	{{ $netdates = merge $netdates (dict $key $value) }}
{{ end }}

{{/* Read through the list of time stamps. This loop leaves us with the
last and most recent time stamp. There may be a more elegant way of doing
this but ...
*/}}
{{ range $key, $value := $netdates }}
	{{ $lastmod = $key }}
{{ end }}

<div class="banner">
<p><span class="genericons-neue genericons-neue-warning"></span>
This information is provided on a best effort basis and is
not guaranteed to be correct. Please refer to the net link and/or contact
address for official information.<p>
<p><strong>Times shown are Red River Valley local.</strong></p>
</div>

<section class="table" id="nets">
<header class="thead">
	<div class="tr">
		<div class="th">Day<br>&amp; Time</div>
		<div class="th">Name<br>&amp; Link</div>
		<div class="th">Frequency<br>&amp; Mode</div>
		<div class="th">Contact</div>
	</div>
</header>

{{ range sort ( sort $.Site.Data.nets ".time" ) ".day" }}

	{{ $day := "" }}
	{{ if or ( eq 0 .day ) ( eq 7 .day ) }}
		{{ $day = "Sunday" }}
	{{ else if eq 1 .day }}
		{{ $day = "Monday" }}
	{{ else if eq 2 .day }}
		{{ $day = "Tuesday" }}
	{{ else if eq 3 .day }}
		{{ $day = "Wednesday" }}
	{{ else if eq 4 .day }}
		{{ $day = "Thursday" }}
	{{ else if eq 5 .day }}
		{{ $day = "Friday" }}
	{{ else if eq 6 .day }}
		{{ $day = "Saturday" }}
	{{ else if eq "D" .day }}
		{{ $day = "Daily" }}
	{{ end }}

	{{ if and ( not ( eq .inactive true ) ) ( or ( not ( gt .season " " )) ( eq $season .season ) ) }}
		<div class="tr">
			<div class="td">{{ with .dayrange }}{{ . | markdownify }}{{ else }}{{ $day }}{{ end }} <span class="notsmall"><br></span>{{ .time }}</div>
			<div class="td alignright">{{ .id | markdownify }}</div> 
			{{ if reflect.IsSlice .freq }}
				{{ $freq    := index .freq 0 }}
				{{ $rptbook := index .freq 1 }}
				{{ $slice   := split $rptbook " " }}
				{{ $state   := index $slice 1 }}
				{{ $id      := index $slice 2 }}
				<div class="td"><a href="https://www.repeaterbook.com/repeaters/details.php?state_id={{ $state }}&ID={{ $id }}">{{ $freq }}</a></div>
			{{ else }}
				<div class="td">{{ .freq | markdownify }}</div>
			{{ end }}
			<div class="td">
			{{ $sign := .contact }}
			{{ $filename := "toml" | printf "%s.%s" $sign | printf "%s/%s" "data/call" }}
			{{ if (fileExists $filename) }}
				{{ $recip := index $.Page.Site.Data.call $sign }}
				{{ if ne $recip nil }}
					{{ if gt $recip.role  "" }}{{ $sign = $recip.role }}{{ end }}
					{{ if gt $recip.email "" }}
						{{ $email := "</a>" | printf "%s%s" ( $sign ) | printf "%s%s" "\">" | printf "%s%s" $recip.email | printf "%s%s" "<a href=\"mailto:" | printf "%s" }}
						<script>
						function f( str ) { return decodeURIComponent(escape(window.atob( str ))); }
						X=('{{ $email | base64Encode }}')
						document.write(f(X))
						</script>
						<noscript>
						{{ $sign }}
						</noscript>
					{{ else }}
						{{ $sign }}
					{{ end }}
				{{ else }}
					{{ $sign }}
				{{ end }}
			{{ else }}{{ $sign }}{{ end }}
			</div>
		</div>
	{{ end }}
{{ end }}

</section>

<dl>
<dt><span class="genericons-neue genericons-neue-info"></span> Last net update
<a href="https://github.com/rrra/www/tree/master/data/nets">{{ $lastmod | dateFormat ( .Site.Param "sitedate" ) }}</a>
</dt>
<dd>
Please contact the <a href="mailto:webmaster@rrra.org" subject="Update for Red
River Valley Net List">Webmaster Team</a> with additions or corrections to
this list.
</dd>
</dl>

