<h3>What happens after your test</h3>

<p>Electronically verified passing tests are are typically processed by the
FCC within 2 business days. The processing time for manually scored tests is
longer; typically seven to fourteen business days.</p>

<p>The FCC will send first time licensees an e-mail message containing
application fee payment instructions. <strong>This fee must be paid within ten
days or your license application will be dismissed.</strong></p>

<p>You will receive receive an electronic copy of your license (PDF format)
via e-mail after your payment is processed.  Please allow 24 hours
for the FCC to process your payment.</p>

<p>Use the
<a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/searchLicense.jsp">
FCC Universal Licensing System search page</a> to check the status of your
license grant. You may search by name or by
<a href="https://apps.fcc.gov/coresWeb/publicHome.do">FRN</a>
(FCC Registration Number). Hams upgrading their license may also search by
call-sign.</p>

<p>You <strong>cannot</strong> transmit until your your license grant
is published in the
<a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/searchLicense.jsp">
FCC Universal Licensing System</a>.</p>
