<div style="text-align: center; padding-bottom: 24px;">
	<a href="http://www.ndarrlsection.com/"><img id="nd-section-badge" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="The ARRL ND Section" title="North Dakota Section News and Information"/></a>
	<p></p>
	<a href="http://arrl.org"><img id="arrl-logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="ARRL Logo" title="ARRL - The national association for Amateur Radio&reg;"/></a>
	<p></p>
	<a href="https://www.arrl.org/divisions/view/dakota"><img id="dakota-division-badge" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="The ARRL Dakota Division" title="The ARRL Dakota Division - Proudly serving Minnesota, North and South Dakota"/></a>
</div>
