<h3>License Test Prerequisites</h3>
<ul>
<li><a href="http://www.arrl.org/what-to-bring-to-an-exam-session">What to
bring to the testing session</a></li>
<li><a href="http://www.arrl.org/obtain-license-copy">How to obtain a copy of
your license</a> (for upgrades)</li>
</ul>
<h3>Checking Your License Status</h3>
<p>Please allow seven to fourteen days for your license to be granted.</p>
<p>You will receive receive an electronic copy of your license (PDF
format) if you included a valid e-mail address on your NCVEC 605 form.</p>
<p>Use the
<a href="http://wireless2.fcc.gov/UlsApp/UlsSearch/searchLicense.jsp">
FCC Universal Licensing System search page</a> to check the status of your
license grant. You may search by name or by
<a href="https://apps.fcc.gov/coresWeb/publicHome.do">FRN</a>
(FCC Registration Number). Hams upgrading their license may also search by
call-sign.</p>
