<article class="post type-post status-publish format-standard hentry">

	<!-- .entry-header -->
	<header class="entry-header">

	{{ $baseurl := .Site.BaseURL }}

		<div class="entry-meta">
			<span class="cat-links">
				{{ range .Params.categories }}
					<a href="{{ $baseurl }}/categories/{{ lower . | urlize }}/" rel="category">{{ . }}</a>
				{{ end }}
			</span>
		</div>

		<h1 class="entry-title">{{ .Title | safeHTML }}</h1>

		<div class="entry-meta">
			{{ if eq .Section "post" }} 
			<span class="entry-date">
				<a href="{{ .Permalink }}" rel="bookmark">
					<time class="entry-date updated" datetime="{{ .Lastmod.Format "January 2, 2006" }}">
						{{ .Lastmod.Format "January 2, 2006" }}
					</time>
				</a>
			</span>
			<span class="vcard author byline">
				{{ range .Params.authors }}
					<a class="url nickname" href="{{ $baseurl }}/authors/{{ lower . | urlize }}/" rel="author"><span class="fn">{{ . }}</span></a>
				{{ end }}
			</span>
			{{ end }}
		</div><!-- .entry-meta -->

	</header>
	
	<div class="entry-content">
		{{ if eq .Params.toc "true" }}{{ .TableOfContents }}{{ end }}

		{{ .Content }}

		{{ if eq .Section "post" }} 
			{{ if gt (.Date.Unix) (sub now.Unix 2592000) }}
				<hr>
				<span class="genericon genericon-comment alignright"></span>
				<a href="mailto:rrra@lists.rrra.org?subject={{ .Title }}&body=RE: {{ .Permalink }}%0D%0A%0D%0A">Discuss this blog post on the RRRA Club Discussions Mailing List</a>
				<span class="alignright">(free subscription required)</span>
			{{ end }}
		{{ end }}
	</div><!-- .entry-content -->

	<footer class="entry-meta">
		<span class="tag-links">		
			{{ range .Params.tags }}
                		<a href="{{ $baseurl}}/tags/{{ lower . | urlize }}/" rel="tag">{{ . }}</a>
            		{{ end }}
		</span>
	</footer>
</article> <!-- #post-## -->
