{{ $filename := "toml" | printf "%s.%s" .sign | printf "%s/%s" "data/call" }}
{{ if (fileExists $filename) }}
	{{ $recip :=  index .context.Site.Data.call .sign }}
	{{ $scratch := newScratch }}

	{{ if and ( ne $recip nil ) ( gt $recip.email "" )  }}

		{{ if gt $recip.office "" }}
			{{ $scratch.Set "ddopen" $recip.office  }}
		{{ else }}
			{{ $contact := .sign | upper | printf "%s %s" ( $recip.name | replaceRE " .*" "" )  }}
			{{ $scratch.Set "ddopen" $contact }}
		{{ end }}

		{{ $scratch.Set "email" $recip.email }}

		{{ if gt $recip.tel "" }}
			{{ $scratch.Set "tel" $recip.tel }}
		{{ else }}
			{{ $scratch.Set "tel" .context.Site.Params.tel }}
		{{ end }}
			
		{{ $ddopen :=  "<span class=\"genericon genericon-menu\"></span></button><div id=\"contact-dropdown\" class=\"dropdown-content\">" | printf "%s%s" ( $scratch.Get "ddopen" ) | printf "%s%s" "<div id=\"myDropdown\" class=\"dropdown\"><button onclick=\"toggleDropdown()\" class=\"dropbtn\">" | printf "%s" }}

		{{ $email := "</a></div>" | printf "%s%s" ( $scratch.Get "email" ) | printf "%s%s" "\">" | printf "%s%s" ( $scratch.Get "email" ) | printf "%s%s" "<div><div class=\"genericon genericon-mail\"></div><a href=\"mailto:" | printf "%s" }}

		{{ $tel := "</a></div>" | printf "%s%s" ( $scratch.Get "tel" ) | printf "%s%s" "\">" | printf "%s%s" ( $scratch.Get "tel" ) | printf "%s%s" "<div><div class=\"genericon genericon-phone\"></div><a href=\"tel:" | printf "%s" }}

		<script type="text/javascript">
		<!-- 
		function f( str ) { return decodeURIComponent(escape(window.atob( str ))); }
    		var myParent = document.getElementById("contact");
		myParent.innerHTML += f({{ $ddopen | base64Encode }});
		var myDiv = document.getElementById("contact-dropdown");
		myDiv.innerHTML += f({{ $email | base64Encode }});
		myDiv.innerHTML += f({{ $tel | base64Encode }});
		myDiv.innerHTML += f({{ "</div></div>" | base64Encode }});
		//-->
		</script>
		<noscript>{{ with $recip.office }}{{ . }}{{ else }}{{ with $recip.name }}{{ . }} {{ end }}{{ .sign }}{{ end }}</noscript>

	{{ else }}
			{{ .sign | markdownify }}
	{{ end }}
{{ else }}
			{{ .sign | markdownify }}
{{ end }}
