{{ $filename := "toml" | printf "%s.%s" .sign | printf "%s/%s" "data/call" }}
{{ if (fileExists $filename) }}
	{{ $recip :=  index .contextsite.Data.call .sign }}
	{{ $scratch := newScratch }}
	{{ with .subject }}{{ $scratch.Set "subject" "?subject=" }}{{ $scratch.Add "subject" ( . | replaceRE ` ` "%20" ) }}{{ else }}{{ $scratch.Set "subject" "" }}{{ end }}

	{{ if and ( ne $recip nil ) ( gt $recip.email "" )  }}

		{{ if gt $recip.role "" }}
			{{ $scratch.Set "ddopen" $recip.role }}
		{{ else }}
			{{ $contact := .sign | upper | printf "%s %s" ( $recip.name | replaceRE " .*" "" )  }}
			{{ $scratch.Set "ddopen" $contact }}
		{{ end }}

		{{ $scratch.Set "email" $recip.email }}

		{{ if gt $recip.tel "" }}
			{{ $scratch.Set "tel" $recip.tel }}
		{{ else }}
			{{ $scratch.Set "tel" .contextsite.Params.tel }}
		{{ end }}

			
		{{ $ddopen :=  "<span class=\"genericons-neue genericons-neue-menu\"></span></button><div id=\"contact-dropdown\" class=\"dropdown-content\">" | printf "%s%s" ( $scratch.Get "ddopen" ) | printf "%s%s" "<div id=\"myDropdown\" class=\"dropdown\" onclick=\"toggleDropdown()\"><button class=\"dropbtn\">" | printf "%s" }}

		{{ $email := "</a></div>" | printf "%s%s" ( $scratch.Get "email" ) | printf "%s%s" "\">" | printf "%s%s%s" ( $scratch.Get "email" ) ( $scratch.Get "subject" )| printf "%s%s" "<div><div class=\"genericons-neue genericons-neue-mail\"></div><a href=\"mailto:" | printf "%s" }}

		{{ $tel := "</a></div>" | printf "%s%s" ( $scratch.Get "tel" ) | printf "%s%s" "\">" | printf "%s%s" ( $scratch.Get "tel" ) | printf "%s%s" "<div><div class=\"genericons-neue genericons-neue-phone\"></div><a href=\"tel:" | printf "%s" }}

		<script>
		<!-- 
		function f( str ) { return decodeURIComponent(escape(window.atob( str ))); }
    		var myParent = document.getElementById("contact");
		myParent.innerHTML += f({{ $ddopen | base64Encode }});
		var myDiv = document.getElementById("contact-dropdown");
		myDiv.innerHTML += f({{ $email | base64Encode }});
		{{- if ne $recip.tel "none" -}}
		myDiv.innerHTML += f({{ $tel | base64Encode }});
		{{- end -}}
		myDiv.innerHTML += f({{ "</div></div>" | base64Encode }});
		{{ "// -->" | safeJS }}
		</script>
		<noscript>{{ with $recip.office }}{{ . }}{{ else }}{{ with $recip.name  | replaceRE " .*" "" }}{{ . }} {{ end }}{{ .sign }}{{ end }}</noscript>

	{{ else }}
			{{ .sign | markdownify }}
	{{ end }}
{{ else }}
			<strong>QRU</strong>
{{ end }}
