<aside id="dates-3" class="widget widget_categories">

	<h2 class="widget-title">Happenings</h2>

	<ul>
		{{ range $name,$taxonomy := .Site.Taxonomies.dates }}
			{{ range last 1 $taxonomy.Pages.ByDate }}
				{{ if and ( ge .Date.Unix now.Unix ) ( ne ( $name | lower )  "hidden" ) }}
					{{ $seq := $name | humanize | title | replaceRE "Ares" "ARES" | replaceRE "Ncs" "NCS" }}
					{{ if eq "Outreach" $seq }}{{ $seq = "Outreach Events" }}{{ end }}
					<li class="cat-item"><a href="/dates/{{ $name | urlize }}">{{ $seq }}</a></li>
				{{ end }}	
			{{ end }}
		{{ end }}
	</ul>

</aside>
