		</div><!-- #main -->

		<footer id="colophon" class="site-footer">

			<div class="site-info">
				(c)2015&ndash;{{ now.Format "2006" }} Red River Radio Amateurs &bull; <a href="/about/contact/">Contact</a> &bull; <a href="/about/colophon/">Colophon</a> &bull; <a href="/about/online-media-and-hosting#site-license">Site License:</a> <a href="/about/online-media-and-hosting#site-license" title="Creative Commons Attribution - Share Alike 4.0 International License"><img id="cc-by-sa-badge" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="CC SA 4.0"/></a> &bull; <a href="/sitemap.html" >Site Map</a> &bull; <a href="mailto:webmaster@rrra.org">Webmaster</a> 
			</div><!-- .site-info -->
		</footer><!-- #colophon -->
	</div><!-- #page -->
		
	{{ $jquery := resources.Get "js/jquery/jquery.js" }}
        {{ $migrate := resources.Get "js/jquery/jquery-migrate.min.js" }}
        {{ $dropdown := resources.Get "js/dropdown.js" }}
        {{ $functions := resources.Get "js/functions.js" }}
        {{ $jsBundle := slice $jquery $migrate $dropdown $functions | resources.Concat "js/bundle.js" | resources.Minify | fingerprint }}
        <script src={{ $jsBundle.Permalink }}></script>

</body>
</html>
