		</div><!-- #main -->

		<footer id="colophon" class="site-footer">

			<div class="site-info">
				(c)2015&ndash;{{ .Now.Format "2006" }} Red River Radio Amateurs &bull; <a href="/about/colophon/">Colophon</a> &bull; <a href="/about#license">Site License:</a> <a href="/about#license" title="Creative Commons Attribution - Share Alike 4.0 International License"><img src="/images/cc-by-sa-4_0-80x15.png" alt="CC SA 4.0" width="80" height="15" /></a> &bull; <a href="mailto:webmaster@rrra.org">Webmaster</a> 
			</div><!-- .site-info -->
		</footer><!-- #colophon -->
	</div><!-- #page -->

	<script type='text/javascript' src='{{ .Site.BaseURL }}/js/functions.js'></script>
</body>
</html>
