		</div><!-- #main -->

		<footer id="colophon" class="site-footer">

			<div class="site-info">
				(c)2015&ndash;{{ now.Format "2006" }} Red River Radio Amateurs &bull; <a href="/about/#contact:d680e8a854a7cbad6d490c445cba2eba">Contact</a> &bull; <a href="/about/colophon/">Colophon</a> &bull; <a href="/about/#site-license:d680e8a854a7cbad6d490c445cba2eba">Site License:</a> <a href="/about/#site-license:d680e8a854a7cbad6d490c445cba2eba" title="Creative Commons Attribution - Share Alike 4.0 International License"><img src="/images/sprites.gif" alt="CC SA 4.0" style="object-fit:none;object-position:0 -178px;width: 80px;height: 15px"/></a> &bull; <a href="/sitemap.html" >Site Map</a> &bull; <a href="mailto:webmaster@rrra.org">Webmaster</a> 
			</div><!-- .site-info -->
		</footer><!-- #colophon -->
	</div><!-- #page -->

	<script type='text/javascript' src='{{ .Site.BaseURL }}/js/jquery/jquery.js' ></script>
	<script type='text/javascript' src='{{ .Site.BaseURL }}/js/jquery/jquery-migrate.min.js' ></script>
	<script type='text/javascript' src='{{ .Site.BaseURL }}/js/dropdown.js' ></script>
	<script type='text/javascript' src='{{ .Site.BaseURL }}/js/functions.js'></script>
</body>
</html>
