{{ $logo := "https://rrra.org/images/rrra-logo-2017.gif" -}}

{{/* Open Graph Tags */}}
<meta property="og:type" content="{{ if .IsHome -}}website{{ else -}}article{{ end -}}" />
<meta property="og:locale" content="en_US" />

{{ with .Params.og_image -}}
	<meta property="og:image" content="{{ . -}}" />
{{ else -}}
	{{ with .Params.twitter_image -}}
		<meta property="og:image" content="{{ . -}}" />
	{{ else -}}
		<meta property="og:image" content="{{ $logo -}}" />
	{{ end -}}
{{ end -}}

<meta property="og:title" content="{{ if .IsPage -}}{{ .Title -}} - {{ end -}}{{ .Site.Title -}}" />
<meta property="og:url" content="{{ .Permalink -}}" />
<meta property="og:site_name" content="{{ .Site.Title -}}" />
<meta property="og:updated_time" content="{{ now.Format "2006-02-01T15:04:05-0700" -}}" />

{{ if .IsHome -}}
	{{ with .Site.Params.description -}}
		<meta property="og:description" content="{{ . -}}" />
	{{ end -}}
{{ else -}}
	{{ with .Description -}}
		<meta property="og:description" content="{{ . -}}" />
	{{ else -}}
		<meta property="og:description" content="{{ .Summary | plainify | truncate 200 -}}" />
	{{ end -}}
{{ end -}}

{{/* Twitter Card Tags */}}
{{ with .Params.twitter_image -}}
	<meta name="twitter:card" content="summary"/>
	<meta property="twitter:image" content="{{ . -}}" />
{{ else -}}
	{{ with .Params.og_image -}}
		<meta name="twitter:card" content="summary"/>
		<meta property="twitter:image" content="{{ . -}}" />
	{{ else -}}
		<meta name="twitter:card" content="summary"/>
		<meta property="twitter:image" content="{{ $logo -}}" />
	{{ end -}}
{{ end -}}

<meta name="twitter:title" content="{{ if .IsPage -}}{{ .Title -}} - {{ end -}}{{ .Site.Title -}}" />
<meta name="twitter:site" content="@W0ILO" />

{{ if .IsHome -}}
	{{ with .Site.Params.description -}}
		<meta property="twitter:description" content="{{ . -}}" />
	{{ end -}}
{{ else -}}
	{{ with .Description -}}
		<meta property="twitter:description" content="{{ . -}}" />
	{{ else -}}
		<meta property="twitter:description" content="{{ .Summary | plainify | truncate 200 -}}" />
	{{ end -}}
{{ end -}}

{{/* Google Rich Cards */}}
{{ if .IsHome -}}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"url": "https://rrra.org/",
	"sameAs": [
		"https://www.facebook.com/W0ILO",
		"https://www.flickr.com/photos/rrra-fargo/",
		"https://twitter.com/w0ilo",
		"https://github.com/rrra/www/"
	],
	"logo": "{{ $logo -}}",
	"contactPoint": [{
		"@type": "ContactPoint",
		"telephone": "+1-701-526-4426",
		"contactType": "customer service"
	}]
}
</script>
{{ end -}}

