<aside id="recent-posts-3" class="widget widget_recent_entries">

	<h2 class="widget-title">Recent Posts</h2>
		<ul>
			{{ $pages := (where .Site.RegularPages.ByDate "Section" "post").Reverse }}
			{{ $pages := $pages | intersect (where .Site.RegularPages "Params.noindex" "!=" "true") }}
			{{ range first 5 $pages }}
			<li>
				{{ $deco := "" }}
				{{ $lower_tags := "" }}
					{{ with .Params.tags }}
					{{ $lower_tags = lower ( delimit . "," ) }}
				{{ end }}
				{{ with ( in $lower_tags "podcast" ) }}
					{{ $deco = "<span class='genericons-neue genericons-neue-microphone'></span>" }}
					{{ $lower_tags = "" }}
				{{ end }}
				{{ with ( in $lower_tags "video" ) }}
					{{ $deco = "<span class='genericons-neue genericons-neue-video'></span>" }}
					{{ $lower_tags = "" }}
				{{ end }}
				{{ with ( in $lower_tags "crosspost" ) }}
					{{ $deco = "<span class='genericons-neue genericons-neue-xpost'></span>" }}
					{{ $lower_tags = "" }}
				{{ end }}

				<a href="{{ .RelPermalink }}">{{ $deco | safeHTML}}{{ .Title | safeHTML }}</a>
			</li>
			{{ end }}
		</ul>
</aside>
