{{ $scratch := newScratch }}

<article class="post type-post status-publish format-standard hentry">

	<!-- .entry-header -->
	<header class="entry-header">

		<div class="entry-meta">
			<span class="cat-links">
					{{ if eq "post" .Section }}
						{{/* This range loop adds a seperator when multiple
			     			categories exist. We use a local scratch to
			     			hold an index. */}}
						{{ $s := newScratch }}
						{{ $s.Set "idx" 0 }}
							{{ range .Params.categories }}
								{{ if gt ( $s.Get "idx" ) 0 }} &bull; {{ end }}
								<a href="/categories/{{ lower . | urlize }}/index.html" rel="category">{{ . }}</a>
								{{ $s.Set "idx" 1 }}
							{{ end }}
						{{ else if ne ( trim .RelPermalink "/") (.Section | urlize ) }}
							<a href="/{{ .Section | urlize }}/" rel="section">{{ .Section }}</a>
					{{ else }}
						<a href="/">Home</a>
					{{ end }}
			</span>
		</div>

		<h1 class="entry-title">{{ .Title | safeHTML }}</h1>

		{{ if gt .Lastmod 0 }}
			{{ $scratch.Set "timestamp" ( .Lastmod.Format "January 2, 2006" ) }}
		{{ else }}
			{{ $scratch.Set "timestamp" ( now.Format "January 2, 2006" ) }}
		{{ end }}
		<div class="entry-meta">
			<span class="entry-date">
				<a href="{{ .RelPermalink }}" rel="bookmark" title="Publication date">
					<time class="entry-date updated" datetime="{{ $scratch.Get "timestamp" }}">
						{{ $scratch.Get "timestamp" }}
					</time>
				</a>
			</span>
			{{ if .IsPage }}
			{{ with .Params.authors }}
				<span class="vcard author byline" title="Authors">
					{{ range . }}
						<a class="url nickname" href="/authors/{{ lower . | urlize }}/" rel="author"><span class="fn">{{ . }}</span></a>
					{{ end }}
				</span>
			{{ end }}
		{{ if ne .Params.xpostLink nil }}
			<span class="xpost-link" title="Crossposted article source">
				<a href="{{ .Params.xpostLink }}">{{ with .Params.xpostName }}{{ . }}{{ else }}{{ .Params.xpostLink }}{{ end }}</a>
			</span>
		{{ end }}
		{{ if eq .Section "post" }} 
			{{ if gt (.Date.Unix) (sub now.Unix 2592000) }}
				<span class="comments-link" style="white-space: nowrap;" title="Make a public comment about this post on the RRRA Club Discussion electronic mailing list; free subscription required to receive responses to your comment.">
					<a href="mailto:rrra@lists.rrra.org?subject={{ .Title }}&body=%0D%0A%0D%0AReference: {{ .Permalink }}">Comment about this post</span></a>
				</span>
			{{ end }}
			{{ end }}
		{{ end }}
			
		</div><!-- .entry-meta -->

		{{ $contact := .Params.contact }}
		{{ $subject := .Params.contactSubject }}
		{{ if ne $contact nil }}
		<div id="contact">
			<br /><span class="cat-links vertmiddle">Contact: </span> {{ partial "contact.html" (dict "context" . "sign" $contact "subject" $subject) }} 
		</div>
		{{ end }}

		<div class="entry-meta">
		</div><!-- .entry-meta -->

	</header>
	
	<div class="entry-content">

		{{ if eq .Params.toc "true" }}{{ .TableOfContents }}{{ end }}

		{{ .Content }}

		{{ if ne .Params.xpostLink nil }}
			<div class="clear banner">
				<p><strong><em>Editors Note:</em></strong></p>
				<p>This article was originally published at
				<a href="{{ .Params.xpostLink }}">{{ with .Params.xpostName }}{{ . }}{{ else }}{{ .Params.xpostLink }}{{ end }}</a></p>
			</div>                                
			<p class="clear"></p>
		{{ end }}

		{{ if eq "development" hugo.Environment }}
		<pre>Template: layouts/partial/section.html</pre>
		{{ end }}

		{{ partial "sourcelink.html" . }}
	</div><!-- .entry-content -->

</article> <!-- #post-## -->
