<article class="post type-post status-publish format-standard hentry">

	<!-- .entry-header -->
	<header class="entry-header">

	{{ $baseurl := .Site.BaseURL }}
		<div class="entry-meta">
			<span class="cat-links">
					{{ if ne ( trim .RelPermalink "/") (.Section | urlize ) }}
						<a href="/{{ .Section | urlize }}/" rel="section">{{ .Section }}</a>
					{{ else }}
						<a href="/">Home</a>
					{{ end }}
			</span>
		</div>

		<h1 class="entry-title">{{ .Title | safeHTML }}</h1>

		{{ if .IsPage }} 
		<div class="entry-meta">
			<span class="entry-date">
				<a href="{{ .Permalink }}" rel="bookmark">
					<time class="entry-date updated" datetime="{{ .Lastmod.Format "January 2, 2006" }}">
						{{ .Lastmod.Format "January 2, 2006" }}
					</time>
				</a>
			</span>
			<span class="vcard author byline">
				{{ range .Params.authors }}
					<a class="url nickname" href="{{ $baseurl }}/authors/{{ lower . | urlize }}/" rel="author"><span class="fn">{{ . }}</span></a>
				{{ end }}
			</span>
		</div><!-- .entry-meta -->
		{{ end }}

		{{ $contact := .Params.contact }}
		{{ if ne $contact nil }}
		<div id="contact">
			<br /><span class="cat-links vertmiddle">Contact: </span> {{ partial "contact.html" (dict "context" . "sign" $contact ) }} 
		</div>
		{{ end }}

		<div class="entry-meta">
		</div><!-- .entry-meta -->

	</header>
	
	<div class="entry-content">
		{{ if eq .Params.toc "true" }}{{ .TableOfContents }}{{ end }}

		{{ .Content }}
	</div><!-- .entry-content -->

</article> <!-- #post-## -->
