<article class="post type-post status-publish format-standard hentry">

	<!-- .entry-header -->
	<header class="entry-header">

	{{ $baseurl := .Site.BaseURL }}
		<div class="entry-meta">
			<span class="cat-links">
					{{ if ne ( trim .RelPermalink "/") (.Section | urlize ) }}
						<a href="/{{ .Section | urlize }}/" rel="section">{{ .Section }}</a>
					{{ else }}
						<a href="/">Home</a>
					{{ end }}
			</span>
		</div>

		<h1 class="entry-title">{{ .Title | safeHTML }}</h1>

		<div class="entry-meta">
		</div><!-- .entry-meta -->

	</header>
	
	<div class="entry-content">
		{{ if eq .Params.toc "true" }}{{ .TableOfContents }}{{ end }}

		{{ .Content }}
	</div><!-- .entry-content -->

</article> <!-- #post-## -->
