<div id="secondary">

	{{ if isset .Site.Params "Description" }} 
		{{ with .Site.Params.Description }}<h2 class="site-description">{{ . }}</h2>{{ end }}
	{{ end }}

	<div id="primary-sidebar" class="primary-sidebar widget-area" role="complementary">

		{{ partial "searchform.html" . }}

		{{ partial "siteicons.html" . }}

		{{ partial "recentposts.html" . }}

		{{ partial "dates.html" . }}
		
		{{ partial "categories.html" . }}

		<div style="text-align: center; padding-bottom: 24px;">
		<a href="http://arrl.org"><img src="/images/sprites.gif" alt="ARRL Logo" title="ARRL - The national association for Amateur Radio&reg;" style="object-fit:none;object-position:-80px -148px;width: 39px;height: 87px"/></a>
		<p></p>
		<a href="http://www.arrldakota.org/"><img src="/images/sprites.gif" alt="The ARRL Dakota Division" title="The ARRL Dakota Division - Proudly serving Minnesota, North and South Dakota" style="object-fit:none;object-position:0 -163px;width: 80px;height: 15px"/></a>
		</div>

	</div>

</div><!-- #secondary -->
