<div id="secondary">

	{{ if isset .Site.Params "Description" }} 
		{{ with .Site.Params.Description }}<h2 class="site-description">{{ . }}</h2>{{ end }}
	{{ end }}

	<div id="primary-sidebar" class="primary-sidebar widget-area" role="complementary">

		{{ partialCached "searchform.html" . }}

		{{ partialCached "siteicons.html" . }}

		{{ partialCached "dates.html" .  }}

		<!-- List of recent blog posts -->
		{{ partialCached "recentposts.html" . }}
		
		<!-- List of content categories -->
		{{ partial "categories.html" . }}

		<!-- ND Section, ARRL Logo, & Dakota Division links -->
		{{ partialCached "arrl.html" . }}

	</div>

</div><!-- #secondary -->
