{{ $candidates := where ( where .Site.RegularPages "Section" "post") "Params.siteBanner" "!=" nil }}

{{ $scratch := newScratch }}
{{ $scratch.Set "banner" "" }}

{{/* This loop will fail through after we find the first usable banner */}}
{{ range $candidates }}
	{{ if eq ( $scratch.Get "banner" ) "" }}
		{{ $scratch.Set "banner" .Params.siteBanner }}
		
		{{/* Prefer .Params.endBanner so that the siteBanner is */}}
		{{/* independent from the featured content promotion    */}}
		{{ with .Params.endBanner }}
			{{ if lt ( ( . | time.AsTime ).Unix ) now.Unix }}
				{{ $scratch.Set "banner" "" }}
			{{ end }}
		{{ else }}
			{{ with .Params.endFeatured }}
				{{ if lt ( ( . | time.AsTime ).Unix ) now.Unix }}
					{{ $scratch.Set "banner" "" }}
				{{ end }}
			{{ end }}
		{{ end }}

		{{ with ( $scratch.Get "banner" ) }}
			<div id="site-banner">{{ . | markdownify }}</div>
		{{ end }}
	{{ end }}
{{ end }}
