<aside class="widget social-media">
	<a id="home-link" href="/"><img id="site-logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="RRRA" title="Red River Radio Amateurs"/></a>
	<div class="clear"></div>
	<a class="genericons-neue genericons-neue-cloud" href="http://cloud.rrra.org/index.php/login" rel="nofollow" title="RRRA Groupware"></a>
	<a class="genericons-neue genericons-neue-subscribe" href="https://lists.rrra.org/mailman/listinfo" rel="nofollow" title="RRRA Mailing Lists"></a>
	<a class="genericons-neue genericons-neue-feed" href="/index.xml" title="News and upcoming events RSS feed"></a>
	<div class="clear notmedium"></div>
	<a class="social-logo social-logo-facebook" href="https://www.facebook.com/W0ILO" title="RRRA on Facebook"></a>
	<a class="social-logo social-logo-mastodon" rel="me" href="https://mastodon.radio/@rrra" title="RRRA on Mastodon"></a>
	<a class="social-logo social-logo-x" href="https://twitter.com/w0ilo" title="RRRA on X"></a>
	<span class="tag-links"><a href="/tags/" title="View the Tag Cloud">Tag Cloud</a></span>
</aside>
