{{/* Display a site-wide text banner
   * 
   * Parameters used:
   * "siteBanner" = true or start date/time
   * "bannerText" = "text or valid markdown to over-ride self link" 
   * "endBanner" = date/time (uses endFeatured date if undefinded) 
   */}}

{{ $candidates := where ( where .Site.RegularPages "Section" "post") "Params.siteBanner" "!=" nil }}

{{ $start := "" }}

{{/* This loop will fail through after we find the first usable banner */}}
{{ range $candidates }}
	{{ if eq $start "" }}
		{{/* Accept either a boolean true or a date string */}}
		{{ $datestamp := cond ( eq ( printf "%t" .Params.siteBanner ) "true" ) "1970-01-01" .Params.siteBanner  }}
		{{ $start := ( time $datestamp ).Unix }}
		
		{{/* Prefer .Params.endBanner so that the siteBanner is */}}
		{{/* independent from the featured content promotion    */}}
		{{ with .Params.endBanner }}
			{{ if lt ( ( . | time.AsTime ).Unix ) now.Unix }}
				{{ $start = "" }}
			{{ end }}
		{{ else }}
			{{ with .Params.endFeatured }}
				{{ if lt ( ( . | time.AsTime ).Unix ) now.Unix }}
					{{  $start = "" }}
				{{ end }}
			{{ end }}
		{{ end }}

		{{ if and (ne $start "") (lt $start now.Unix)  }}
			<div id="site-banner">
			{{ with .Params.bannerText }}
				{{ . | markdownify }}
			{{ else }}
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			{{ end }}
			</div>
		{{ break }}
		{{ end }}
	{{ end }}
{{ end }}
