<aside class="widget social-media">
	<a id="home-link" href="/"><img id="site-logo" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="RRRA" title="Red River Radio Amateurs"/></a>
	<div class="clear"></div>
	<a class="genericon genericon-cloud" href="http://cloud.rrra.org/index.php/login" rel="nofollow" title="RRRA Groupware"></a>
	<a class="genericon genericon-subscribe" href="https://lists.rrra.org/mailman/listinfo" rel="nofollow" title="RRRA Mailing Lists"></a>
	<a class="genericon genericon-feed" href="/index.xml" title="News and upcoming events RSS feed"></a>
	<div class="clear notmedium"></div>
	<a class="genericon genericon-facebook" href="https://www.facebook.com/W0ILO" title="RRRA on Facebook"></a>
	<a class="genericon genericon-flickr" href="https://www.flickr.com/photos/rrra-fargo/" title="RRRA on Flickr"></a>
	<a class="genericon genericon-twitter" href="https://twitter.com/w0ilo" title="RRRA on Twitter"></a>
</aside>
