<aside class="widget social-media" itemscope itemtype="http://schema.org/Organization">
	<a itemprop="url" id="home-link" href="/"><img id="site-logo" src="/images/rrra-logo-2017.svg" alt="RRRA Logo" title="Red River Radio Amateurs"/></a>
	<div class="clear"></div>
	<a class="genericon genericon-cloud" href="http://cloud.rrra.org" rel="nofollow" title="RRRA File Sharing Server"></a>
	<a class="genericon genericon-subscribe" href="https://lists.rrra.org/" rel="nofollow" title="RRRA Mailing Lists"></a>
	<a class="genericon genericon-feed" href="/index.xml" title="News and upcoming events RSS feed"></a>
	<div class="clear notmedium"></div>
	<a itemprop="sameAs" class="genericon genericon-facebook" href="https://www.facebook.com/W0ILO" title="RRRA on Facebook"></a>
	<a itemprop="sameAs" class="genericon genericon-flickr" href="https://www.flickr.com/photos/rrra-fargo/" title="RRRA on Flickr"></a>
	<a itemprop="sameAs" class="genericon genericon-twitter" href="https://twitter.com/w0ilo" title="RRRA on Twitter"></a>
	<br />
	<a href="/about/hosting/"><img src="/images/ictc_80x15.png"
alt="Hosted@ ICTC.com" title="Hosting by Inter-Community Telephone Company, LLC" /></a>
</aside>
