<article class="post type-post status-publish format-standard hentry">

	<!-- .entry-header -->
	<header class="entry-header">

	{{ $baseurl := .Site.BaseURL }}
  {{ $silentkeybase := .Site.Params.silentkeybase }}
	{{ $call := upper .Title }}

		<div class="entry-meta">

			<ul class="pagination">
				{{ range last 1 ( where .Site.Pages "Section" "sk" ) }}
				<li {{ if not $.PrevInSection }} class="disabled" {{ end }}><a title="Oldest Silent Key - {{ upper .Title }}" href="{{ .RelPermalink }}">&laquo;&laquo;</a></li>
				{{ end }}
				<li {{ if not .PrevInSection }} class="disabled" {{ end }}><a title="Previous Silent Key{{ if .PrevInSection}} - {{ upper .PrevInSection.Title }}{{ end }}" href="{{ if .PrevInSection }}{{ .PrevInSection.RelPermalink }}{{ else }}.{{ end }}">&laquo;</a></li></li>
				<li><a href="{{ $baseurl }}/sk/" rel="category">RRRA Silent Keys</a></li>
				<li {{ if not .NextInSection }} class="disabled" {{ end }}><a title="Next Silent Key{{ if .NextInSection }} - {{ upper .NextInSection.Title }}{{ end }}" href="{{ if .NextInSection }}{{ .NextInSection.RelPermalink }}{{ else }}.{{ end }}">&raquo;</a></li></li>
				{{ range first 1 ( where .Site.Pages "Section" "sk" ) }}
				<li {{ if not $.NextInSection }} class="disabled" {{ end }}><a title="Newest Silent Key - {{ upper .Title }}" href="{{ .RelPermalink }}">&raquo;&raquo;</a></li>
				{{ end }}
			</ul>

		</div><!-- .entry-meta -->

		<h2 class="entry-title">{{ .Title }} - {{ .Params.name }}</h2>

	</header>
	
	<div class="entry-content">
		{{ $imgfiles := readDir "static/images/sk/" }}
		{{ range $imgfiles }}
			{{ if in .Name ( lower $call ) }}
				<figure class="wp-caption alignnone">
					<img  src="/images/sk/{{ .Name }}" alt="Obituary photo of {{ $call }}"/>
					{{ with $.Params.photocredit }}
						<figcaption class="wp-caption-text">Photo: {{ . }}</figcaption>
					{{ end }}
				</figure>
			{{ end }}
		{{ end }}

		<dl id="list">
			{{ with .Params.born }}<dt class="twocol header">Born:</dt><dd class="twocol">{{ . }}</dd>{{ end }}
			{{ with .Params.licensed }}<dt class="twocol header">Licensed:</dt><dd class="twocol">{{ . }}</dd>{{ end }}
			<dt class="twocol header">Silent Key:</dt>
			<dd class="twocol">{{ .Params.died }}</dd>
			{{ with .Params.silentkeyhq }}
				{{ $href :=  "\">National Silent Key Archive</a>" | printf "%s%s" (.) | printf "%s%s" "&uid=" | printf "%s%s" $call | printf "%s%s" "call=" | printf "%s%s" $silentkeybase | printf "%s%s" "<a href=\"" | printf "%s" | safeHTML }}
				{{ $.Scratch.Set "memorial" $href }}
			{{ else }}
				{{ with .Params.obituary }}
					{{ $url := (.) }}
					{{ $url := replace $url "https://" "" }}
					{{ $url := replace $url "http://" "" }}
					{{ $url := split $url "/" }}

					{{ if ge (len $url) 1 }}
						{{ $href := "</a>" | printf "%s%s" ( index $url 0 ) | printf "%s%s" "\">" | printf "%s%s" (.) | printf "%s%s" "<a href=\"" | printf "%s" | safeHTML }}
						{{ $.Scratch.Set "memorial" $href }}
					{{ end }}
				{{ end }}
			{{ end }}
			{{ with $.Scratch.Get "memorial" }}
				<dt class="twocol header">Memorial:</dt>
				<dd class="twocol">{{.}}</dd>
				{{ $.Scratch.Set "memorial" "" }}
			{{ end }}
		</dl>
		<p style="clear"></p>

		{{ .Content }}
	</div><!-- .entry-content -->

	<footer class="entry-meta">
		<span class="tag-links">		
			{{ range .Params.tags }}
                <a href="{{ $baseurl}}/tags/{{ lower . | urlize }}/" rel="tag">{{ . }}</a>
            {{ end }}
		</span>
	</footer>
</article> <!-- #post-## -->
