<article class="post type-post status-publish format-standard hentry">

<!-- .entry-header -->
<header class="entry-header">

{{ $silentkeybase := .Site.Params.silentkeybase }}
{{ $sitedate := .Site.Params.sitedate }}
{{ $call := upper .Title }}
{{ $licensed := findRE "[12][0-9]{3}-[01]?[0-9]-[0-9]{2}" (.Params.licensed) 1}}

<div class="entry-meta">

<div class="cat-links">
{{ range last 1 ( where .Site.Pages "Section" "sk" ) }}
<a class="nav {{ if not $.PrevInSection }}disabled" {{ else }}" title="Oldest Silent Key - {{ upper .Title }}" {{ end }} href="{{ .RelPermalink }}">&laquo;&laquo;</a>
{{ end }}
<a class="nav {{ if not .PrevInSection }}disabled" {{ else }}" title="Previous Silent Key - {{ upper .PrevInSection.Title }}" {{ end }}  href="{{ if .PrevInSection }}{{ .PrevInSection.RelPermalink }}{{ else }}.{{ end }}">&laquo;</a>
<a class="taxonomy" href="/sk/" title="Silent Key List" rel="category">RRRA Silent Keys</a>
<a class="nav {{ if not .NextInSection }} disabled" {{ else }}" title="Next Silent Key - {{ upper .NextInSection.Title }}" {{ end }} href="{{ if .NextInSection }}{{ .NextInSection.RelPermalink }}{{ else }}.{{ end }}">&raquo;</a>
{{ range first 1 ( where .Site.Pages "Section" "sk" ) }}
<a class="nav {{ if not $.NextInSection }}disabled" {{ else }}" title="Newest Silent Key - {{ upper .Title }}" {{ end }} href="{{ .RelPermalink }}">&raquo;&raquo;</a>
{{ end }}
</div>

</div><!-- .entry-meta -->

<h2 class="entry-title">{{ .Title | upper }}<br />{{ .Params.name }}</h2>

</header>

<div class="entry-content">
{{ $.Scratch.Set "needed" "photo|" }}
{{ $imgfiles := readDir "static/images/sk/" }}
{{ range $imgfiles }}
{{ if in .Name ( lower $call ) }}
<figure class="wp-caption alignnone">
<img  src="/images/sk/{{ .Name }}" alt="Obituary photo of {{ $call }}"/>
{{ with $.Params.photocredit }}
<figcaption class="wp-caption-text">Photo: {{ . }}</figcaption>
{{ end }}
</figure>
{{ $.Scratch.Set "needed" "" }}
{{ end }}
{{ end }}
		
		<dl id="list">
			{{ with .Params.born }}<dt class="twocol header">Born:</dt><dd class="twocol">{{ . | dateFormat ( $sitedate ) }}</dd>
				{{ else }}{{ $.Scratch.Add "needed" "birth|" }}{{ end }}
			{{ if gt .Params.licensed "" }}<dt class="twocol header">Licensed:</dt><dd class="twocol">{{ if gt $licensed "" }}{{ .Params.licensed | dateFormat ( $sitedate ) }}{{ else }}{{ .Params.licensed }}{{ end }}</dd>{{ end}}
			{{ if gt .Date "" }}<dt class="twocol header">Silent Key:</dt><dd class="twocol">{{ .Date.Format ( $sitedate ) }}</dd>
				{{ else }}{{ $.Scratch.Add "needed" "death|" }}{{ end }}
			{{ with .Params.silentkeyhq }}
				{{ $href :=  "\">National Silent Key Archive</a>" | printf "%s%s" (.) | printf "%s%s" "&uid=" | printf "%s%s" $call | printf "%s%s" "call=" | printf "%s%s" $silentkeybase | printf "%s%s" "<a href=\"" | printf "%s" | safeHTML }}
				{{ $.Scratch.Set "memorial" $href }}
			{{ else }}
				{{ $.Scratch.Add "needed" "skhq|" }}
				{{ with .Params.obituary }}
					{{ $url := (.) }}
					{{ $url := replace $url "https://" "" }}
					{{ $url := replace $url "http://" "" }}
					{{ $url := split $url "/" }}

					{{ if ge (len $url) 1 }}
						{{ $href := "</a>" | printf "%s%s" ( index $url 0 ) | printf "%s%s" "\">" | printf "%s%s" (.) | printf "%s%s" "<a href=\"" | printf "%s" | safeHTML }}
						{{ $.Scratch.Set "memorial" $href }}
					{{ end }}
				{{ end }}
			{{ end }}
			{{ with $.Scratch.Get "memorial" }}
				<dt class="twocol header">Obituary:</dt>
				<dd class="twocol">{{.}}</dd>
				{{ $.Scratch.Set "memorial" "" }}
			{{ end }}
		</dl>
		<p class="clear"></p>

		{{ $needed := $.Scratch.Get "needed" }}

		{{ if gt $needed "" }}
			<h3>Information Needed</h3>
			<p>Can you contribute any of the information needed to complete this Silent Key listing?</p>
			<ul>
				{{ if in $needed "photo|" }}<li>Obituary Photo</li>{{ end }}
				{{ if in $needed "birth|" }}<li>Date of Birth</li>{{ end }}
				{{ if in $needed "death|" }}<li>Date of Death</li>{{ end }}
				{{ if in $needed "skhq|" }}<li>A memorial at the <a href="http://silentkeyhq.com">National Silent Key Archive</a></li>{{ end }}
			</ul>
      <p>Please contact the <a href="mailto:webmaster@rrra.org">Webmaster Team</a> if you can help complete this Silent Key Listing.</p>
		{{ end }}

		{{ .Content }}
	</div><!-- .entry-content -->

	<footer class="entry-meta">
		<span class="tag-links">		
			{{ range .Params.tags }}
                <a href="/tags/{{ lower . | urlize }}/" rel="tag">{{ . }}</a>
            {{ end }}
		</span>
	</footer>
</article> <!-- #post-## -->
