{{/*
GitHub source link partial template
By: Steve Kostecke steve@kostecke.net k0stk@arrl.net

Add to section pages as:

	{{ partial "sourcelink.html" . }}

Add to section indexes and pages without md files as:

	{{ .Scratch.Set "source" "layouts/taxonomy/ncs.terms.html" }}
	{{ partial "sourcelink.html" . }}
*/}}

{{ $base := "https://github.com/rrra/www/blob/master" }}

{{ $scratch := newScratch }}
{{ with ( .Scratch.Get "source" ) }}
	{{ $scratch.Set "source" . }}
	{{ $scratch.Set "type" "Template" }}
{{ else }}
	{{ $scratch.Set "source" ( .File.Path | printf "%s/%s" "content" ) }}
	{{ $scratch.Set "type" "Source" }}
{{ end }}

{{ $path := $scratch.Get "source" }}
{{ $type := $scratch.Get "type" }}

<div style="text-align:center;margin-bottom: 24px;">
<span class="genericon genericon-github" style="vertical-align:middle;margin-right:.3em;"></span>{{ $scratch.Get "type" }}: <a href="{{ $base }}/{{ $path }}">{{ $path }}</a>
</div>
