<article class="post type-post status-publish format-standard hentry">

	<!-- .entry-header -->
	<header class="entry-header">

	{{ $baseurl := .Site.BaseURL }}

		<div class="entry-meta">
			<span class="cat-links">
                {{ range .Params.categories }}
                <a href="{{ $baseurl }}/categories/{{ lower . | urlize }}/index.html" rel="category">{{ . }}</a>
                {{ end }}
			</span>
		</div>

		<h2 class="entry-title">{{ .Title }}</h2>

		<div class="entry-meta">
			<span class="entry-date">
				<a href="{{ .Permalink }}/index.html" rel="bookmark">
					<time class="entry-date" datetime="{{ .Date.Format "2006-01-02 15:04" }}">
						{{ .Date.Format "January 2" }}
					</time>
				</a>
			</span>
			<span class="vcard author byline">
				{{ range .Params.authors }}
					<a class="url nickname" href="{{ $baseurl }}/authors/{{ lower . | urlize }}/" rel="author">{{ . }}</a>
				{{ end }}
			</span>
		</div><!-- .entry-meta -->

	</header>
	
	<div class="entry-content">
		{{ .Summary }}
		{{ if .Truncated }}
  			<div class="read-more-link">
    				<a href="{{ .RelPermalink }}">Read More...</a>
  			</div>
 		{{ end }} 
	</div><!-- .entry-content -->

	<footer class="entry-meta">
		<span class="tag-links">		
			{{ range .Params.tags }}
                <a href="{{ $baseurl}}/tags/{{ lower . | urlize }}/index.html" rel="tag">{{ . }}</a>
            {{ end }}
		</span>
	</footer>
</article> <!-- #post-## -->
