<article class="post type-post status-publish format-standard hentry">

	<header class="entry-header">
		<h2 class="entry-title">Upcoming Events</h2>
	</header>

	<time class="updated" datetime="{{ now | dateFormat "2006-01-02T03:04:05-07:00" }}" ></time>
	<author class="vcard author" style="display:none;"><span class="email">webmaster@rrra.org</span></author>

<div class="entry-content">
{{ $.Scratch.Set "today" "" }} <!-- daily date sequence scratch pad-->
{{ $.Scratch.Set "seen" " " }} <!-- global date sequence scratch pad -->
{{ $.Scratch.Set "lastdate" "" }} <!-- the last date we used -->
	<dl>
		{{ range where .Data.Pages.ByDate "Section" "calendar" }}
			{{ if ge .Date.Unix now.Unix }}
				{{ $thisdate := chomp (.Date.Format "2006-01-02") }}
       	{{ if ne $thisdate ($.Scratch.Get "lastdate") }}
					<!-- Started looking at a new day, clear the daily scratch pad -->
					{{ $.Scratch.Set "today" "" }}
				{{ end }}
				{{ $.Scratch.Set "upcoming" "" }}
				{{ with .Params.upcoming }}
					{{ $.Scratch.Set "upcoming" (. | lower) }}
				{{ end }}
				{{ if ne ($.Scratch.Get "upcoming") "hide" }}
					{{ $series := chomp ((delimit .Params.dates " ") | printf "%s" | urlize | printf "%s|") }}
					{{ $seen := chomp ($.Scratch.Get "seen") }}
					{{ if or (not (in $seen $series)) (or (eq ($.Scratch.Get "upcoming") "force") (in ($.Scratch.Get "today") $series)) }}
						<dt class="twocol" style="width:15em;">
							{{ with .LinkTitle }}{{.}}{{else}}{{ .Title }}{{end}}
						</dt>
						<dd class="twocol"><a href="{{ .Permalink}}" title="{{ .Title }} - {{ chomp (delimit .Params.dates " ") }}">{{ if eq true .Params.cancelled }}<span style="color:red;">CANCELLED</span>{{ else }}{{ .Date.Format "3:04 PM Mon Jan 2" }}{{ end }}</a></dd>
						{{ $this := (chomp (delimit .Params.dates " ") | printf "%s" | urlize | printf "%s|") }}
						{{ $.Scratch.Add "seen" $this }}
						{{ $.Scratch.Add "today" $this }}
						{{ $.Scratch.Set "lastdate" (.Date.Format "2006-01-02") }}
					{{ end }}
				{{ end }}
			{{ end }}
		{{ end }}
	</dl>

</div>

</article>
