<article class="post type-post status-publish format-standard hentry">

	<header class="entry-header">
		<h2 class="entry-title">Upcoming Events</h2>
		<span style="display: none;">
			<time class="updated">{{ .Now }}</time>
			<author class="vcard author"><span class="email">webmaster@rrra.org</span></author>
		</span>
	</header>

<div class="entry-content">

	<dl>
		{{ range where .Data.Pages.ByDate "Section" "calendar" }}
			{{ if ge .Date.Unix .Now.Unix }}
				{{ $thisdate := chomp (.Date.Format "2006-01-02") }}
        {{ if ne $thisdate ($.Scratch.Get "lastdate") }}
					{{ $.Scratch.Set "today" "" }}
				{{ end }}
				{{ $series := (chomp (delimit .Params.dates ",") | urlize | printf "|%s") }}
				{{ $seen := chomp ($.Scratch.Get "seen") }}
				{{ if or (not (in $seen $series)) (in ($.Scratch.Get "today") $series) }}
					<dt class="twocol" style="width:15em;">
						{{ with .LinkTitle }}{{.}}{{else}}{{ .Title }}{{end}}
					</dt>
					<dd class="twocol"><a href="{{ .Permalink}}" title="{{ .Title }} - {{ chomp (delimit .Params.dates ",") }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</a></dd>
					{{ $this := (chomp (delimit .Params.dates ",") | urlize | printf "|%s") }}
					{{ $.Scratch.Add "seen" $this }}
					{{ $.Scratch.Add "today" $this }}
					{{ $.Scratch.Set "lastdate" (.Date.Format "2006-01-02") }}
				{{ end }}
			{{ end }}
		{{ end }}
	</dl>

  <p style="clear:both;"></p>	
	<p>Please see the Dates section of the side-bar (located at the bottom
of the page on mobile devices) and the <a href="/calendar/0/" >RRRA Calendar</a> for more upcoming events.</p>

</div>

</article>
