<article class="post type-post status-publish format-standard hentry">

	<header class="entry-header">
		<h2 class="entry-title">Upcoming Events</h2>
	</header>

<div class="entry-content">

	<dl>
		{{ range $key, $taxonomy := .Site.Taxonomies.dates }}
			{{ $.Scratch.Set "done" "" }}
			{{ range $taxonomy.Pages.ByDate }}
				{{ if and (ge .Date.Unix .Now.Unix) (eq ($.Scratch.Get "done") "") }}
					<dt class="twocol" style="width:15em;">
						{{ if eq $key "NCS Schedule" }}Net{{ else }}
							{{ if eq $key "Public Service" }}
								{{ .Title }}
							{{ else }}
								{{ $key | singularize }}
							{{ end }}
						{{ end }}
					</dt>
					<dd class="twocol"><a href="{{ .Permalink}}" title="{{ .Title }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</a></dd>
					{{ $.Scratch.Set "done" "yes" }}
				{{ end }}
			{{ end }}
		{{ end }}
</dl>

</div>

</article>
