<h4>Apple iCalendar</h4>

<p>Click the webcal / iCalendar link shown above and this calendar will
be added to iCalendar on all devices associated with your Apple ID.</p>

<p> Follow the instructions in the 
<a href="https://www.howtogeek.com/409359/how-to-subscribe-to-calendars-on-mac/">How to Subscribe to Calendars on Mac</a>
How-To Geek blog post if the webcal subscription link does not work
on your Apple device.</p>

<h4>Google Calendar</h4>

<p>Follow the instructions in the
<a href="https://visihow.com/Use_webcal_url_to_add_a_calendar_to_google_calendar">Use webcal url to add a calendar to google calendar</a> VisiHow blog post.</p>

<p>Android users must first add the RRRA calendar to their desktop
Google calendar <strong>then</strong> synchronize their mobile device
calendar <strong>before</strong> this calendar will be available for
selection on their mobile device. </p>

<h4>Outlook Calendar</h4>

<p>Follow the instructions for the Outlook Client or Outlook Online in the
<a href="https://www.howtogeek.com/661142/how-to-add-an-icalendar-link-to-your-outlook-calendar/">How to Add an iCalendar Link to Your Outlook Calendar</a> How-To Geek blog post.</p>
