<article class="post type-post status-publish format-standard hentry">
<div class="h-event">
	<header class="entry-header">
		{{ $baseurl := .Site.BaseURL }}

		<div class="entry-meta">
			<span class="cat-links">
				{{ range .Params.dates }}
                		<a href="{{ $baseurl}}/dates/{{ lower . | urlize }}/" rel="tag">{{ . }}</a>
				{{ end }}
			</span>
		</div>
		<h1 class="p-name entry-title">{{ .Title }}</h1>
	</header>
	<div class="entry-content">
		<dl>
			<dt class="twocol header">WHEN:</dt><dd class="twocol"><time class="dt-start" datetime="{{ .Date }}">{{ .Date.Format "Mon, 02 Jan 2006 15:04 MST" }}</time></dd>
			{{ if gt .Params.endtime "" }}
			<dt class="twocol header">UNTIL:</dt><dd class="twocol"><time class="dt-end" datetime="{{ .Params.endtime }}">{{ dateFormat "Mon, 02 Jan 2006 15:04 MST" .Params.endtime }}</time></dd>
			{{ end }}
			{{ if gt .Params.location "" }}
			<dt class="twocol header">WHERE:</dt><dd class="twocol"><span class="p-location">{{ .Params.location | safeHTML }}</span></dd>
			{{ end }}
			{{ if gt .Params.contact "" }}
			<dt class="twocol header">CONTACT:</dt><dd class="twocol"><span class="p-organizer">
			{{ $sign := .Params.contact }}
			{{ $recip := index .Site.Data.call $sign }}
			{{ if gt $recip.office "" }}
  				{{ .Scratch.Set "linktext" $recip.office }}
			{{ else }}
  				{{ .Scratch.Set "linktext" $sign }}
			{{ end }}
			{{ if gt  $recip.email "" }}
  			  {{ $email := "</a>" | printf "%s%s" ( .Scratch.Get "linktext" ) | printf "%s%s" "\">" | printf "%s%s" $recip.email | printf "%s%s" "<a href=\"mailto:" | printf "%s" }}
  			  <script type="text/javascript">
  			  <!-- 
  			  function f( str ) { return decodeURIComponent(escape(window.atob( str ))); }
  			  X=('{{ $email | base64Encode }}')
  			  document.write(f(X))
   			  //-->
  			  </script>
  			  <noscript>
  			  {{ .Scratch.Get "linktext" }}
  			  </noscript>
			{{ else }}
  			  {{ .Scratch.Get "linktext" }}
			{{ end }}</span></dd>
			{{ end }}
		</dl>
		<p class="p-summary clear" style="padding-top:24px;">{{ .Content }}</p>
	</div>

	<footer class="entry-meta">
	</footer>

</div>
</article> <!-- #post-## -->
