{{ $baseurl := .Site.BaseURL }}
{{ if lt .Date.Unix now.Unix }}
	{{ .Scratch.Set "css-class" "noscreen " }}
{{ else }}
	{{ .Scratch.Set "css-class" "" }}
{{ end }}
{{ $class := ( .Scratch.Get "css-class" ) }}
<dt class="{{ $class }}twocol">{{ .Date.Format "Jan 2" }}</dt>
<dd class="{{ $class }}twocol"><a href="{{ .Permalink }}">{{ if eq true .Params.cancelled }}CANCELLED - {{ end }}{{ .Title }}</a>{{ if gt .Params.ncs "" }} - <a href="{{ $baseurl }}/ncs/{{ index .Params.ncs 0 | urlize }}">{{ index .Params.ncs 0 }}</a>{{ end }}</dd>
