{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			<header class="entry-header">
				<h3 class="entry-title">Contributing Authors</h3>
			</header>

			<div class="entry-content" style="padding-bottom:1em;">
				<!--<p>Prospective authors are encouraged to read the contribution guidelines.</p>-->
				<dl id="list">
					<dt class="twocol" style="width:10em; font-weight: normal;">{{ .Title | singularize }}</dt>
					<dd class="twocol">Contributions</dd>
					{{ $data := .Data }}
					{{ range $key, $value := .Data.Terms }}
					<dt class="twocol" style="width:10em;"><a href="{{ $key | urlize }}">{{ $key | upper }}</a></dt>
					<dd class="twocol">{{ len $value }}</dd>
					{{ end }}
				</dl>
			</div>
		
		</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}
