{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			<header class="entry-header">
				{{ $baseurl := .Site.BaseURL }}

				<div class="entry-meta">
				{{ $rsstitle := .Title }}
				{{ $rsspath := printf "/dates/%s" ( .Title | urlize ) }}
				{{ partial "rss" ( dict "rsstitle" $rsstitle "rsspath" $rsspath ) }}
					<span class="cat-links">
                				<a href="/dates/" rel="tag">Dates</a>{{ if eq ( .Title | urlize ) "ncs-schedule" }} <a href="/nets/">Nets</a>{{ end }}
					</span>
				</div>
				<h1 class="entry-title">{{ .Title | singularize }}{{ if not (in .Title "schedule") }} Dates{{ end }}</h1>
    		{{ with  .OutputFormats.Get "calendar" -}}
      		<span class="genericon genericon-month" style="font-size: 1.5em; padding-right: 0.4em" ></span><a style="text-decoration: none;" title="Get automatic iCalendar updates for these {{ $.Title | singularize }} dates" href="{{ .Permalink | safeURL }}">Subscribe to these dates</a> &bull; <a style="text-decoration: none;" title="Import these {{ $.Title | singularize }} dates as an ICS file" href="{{ .RelPermalink | safeURL }}">ICS download</a></dd>
    		{{- end }}
			</header>

			<div class="entry-content" style="padding-bottom:1em;">
				{{ $contact := index .Site.Data.contacts ( .Title | urlize ) }}
				{{ if ne $contact nil }}
					<span class="cat-links vertmiddle">Contact: </span>{{ partial "contact.html" (dict "context" . "sign" $contact ) }} 
				{{ end }}

				{{ if eq ( .Title | urlize ) "ncs-schedule" }}
					{{ $.Scratch.Set "li" "ncsdli" }}
				{{ else }}
					{{ $.Scratch.Set "li" "dli" }}
				{{ end }}
				{{ $thisyear := now | dateFormat "2006" }}
				{{ $classes := slice "Technician" "General" "Extra" "AUXCOMM" }}
				{{ $edu := intersect $classes  (split .Title " ")  }}


				{{ range (.Data.Pages.GroupByDate "2006").Reverse }}
					{{ if ($edu) }}	
						<h3>{{ .Key }}</h3>
						<dl id="list">
							{{ range .Pages.Reverse }}
								{{ .Render ( $.Scratch.Get "li" ) }}
							{{ end }}
						</dl>
					{{ else }}
						{{ if ge .Key $thisyear }}	
							{{ $group := .Key }}
							{{ range .Pages.Reverse }}
								{{ if ge .Date.Unix now.Unix }}
									{{ if not (gt ($.Scratch.Get "group") "") }}{{/* no header for empty collection */}}
										<h3>{{ $group }}</h3>
										<dl id="list">
										{{ $.Scratch.Set "group" 1 }}
									{{ end }}
									{{ .Render ( $.Scratch.Get "li" ) }}
								{{ end }}
							{{ end }}
							{{ if gt ( $.Scratch.Get "group" ) ""  }}
								</dl>
								{{ partial "clear" }}
								{{ $.Scratch.Set "group" "" }}
							{{ end }}
						{{ end }}
					{{ end }}
				{{ end }}

				{{ if eq ( .Title | urlize )  "license-testing" }}
					{{ partial "bring" }}
					{{ partial "status" }}
				{{ end }}
			</div>

		</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}
