{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			<header class="entry-header">

				<div class="entry-meta">
					<span class="cat-links">
						<a href="/calendar/0/">Calendar</a>
					</span>
				</div>
				<h1 class="entry-title">Dates</h1>
			</header>

			<div class="entry-content" style="padding-bottom:1em;">
				<dl id="list">
					{{ range $key, $value := .Data.Terms }}
					<dt class="twocol"><a href="{{ $key }}">{{ .Page.Title  }}</a></dt>
					{{ end }}	
				</dl>
			</div>
		
		</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}

{{/*

nested where clauses to drill down
{{ range where (where .Data.Pages "Section" "blog" ) ".Params.featured" "!="  "true" }}

testing for this year
{{ range (.Data.Pages.GroupByDate "2006").Reverse }}
{{ if or ($edu) (ge .Key $thisyear) }}

counting pages
{{ $posts := (where .Site.RegularPages "Section" "==" "post") }}
{{ $postCount := len $posts }}

*/}}
