{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			<header class="entry-header">
				{{ $baseurl := .Site.BaseURL }}

				<div class="entry-meta">
					<span class="cat-links">
						<a href="{{ $baseurl}}/calendar/" rel="tag">Calendar</a>
					</span>
					{{ partial "rss" ( dict "rsstitle" "NCS Roster" )  }}
				</div>
				<h1 class="entry-title">NCS Roster</h1>
			</header>

			<div class="entry-content" style="padding-bottom:1em;">
				<dl id="list">
					{{ $data := .Data }}
					{{ range $key, $value := .Data.Terms }}
					<dt class="twocol" style="width:10em;">{{ $key }}</dt>
					<dd class="twocol"><a href="{{ $key | urlize }}">{{ len $value }} nets</a></dd>
					{{ end }}
				</dl>
			</div>
		
		</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}
