{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			<header class="entry-header">
				{{ $baseurl := .Site.BaseURL }}

				<div class="entry-meta">
					<span class="cat-links">
						<a href="{{ $baseurl}}/ncs/" rel="tag">NCS Roster</a>
					</span>
				</div>
				<h1 class="entry-title">NCS Assignments - {{ .Title }}</h1>
				{{ $rsstitle := "NCS Assignments " | printf "%s %s" .Title | printf "%s" }}
				{{ partial "rss" ( dict "rsstitle" $rsstitle ) }}
			</header>

			<div class="entry-content" style="padding-bottom:1em;">
				<dl id="list">
					{{ range .Data.Pages.ByDate }}
						{{ .Render "dli"}}
					{{ end }}
				</dl>
			</div>
		
		</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}
