{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			<header class="entry-header">
				{{ $baseurl := .Site.BaseURL }}

				<div class="entry-meta">
					<span class="cat-links">
						<a href="{{ $baseurl}}/ncs/" rel="tag">NCS Roster</a>
					</span>
					{{ $rsstitle := "NCS Assignments " | printf "%s %s" .Title | printf "%s" }}
					{{ partial "rss" ( dict "rsstitle" $rsstitle ) }}
				</div>
				<h1 class="entry-title">NCS Assignments - {{ .Title }}</h1>
			</header>

			<div class="entry-content" style="padding-bottom:1em;">
				{{ range (.Data.Pages.GroupByDate "2006").Reverse }}
					<h3>{{ .Key }}</h3>
					<dl id="list">
						{{ range .Pages.Reverse }}
							{{ .Render "dli" }}
						{{ end }}
					</dl>
					{{ partial "clear" }}
				{{ end }}
			</div>
		
		</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}
