<p>In addition to listening here you can:</p>

<ul>
	<li>Listen on 
		<a href="https://podcasts.apple.com/us/podcast/on-the-air/id1494508201">Apple iTunes</a>
	</li>
	<li>Listen online at
		<ul>
			<li><a href="https://blubrry.com/arrlontheair/">Blubrry On The Air Page</a></li>
			<li><a href="https://www.stitcher.com/s?fid=496563&refid=stpr">On the Air on Stitcher</a></li>
		</ul>
	</li>
	<li>Search for <em>ARRL On The Air</em> in your podcast app</li>
	<li>Subscribe to the <a href="https://feeds.blubrry.com/feeds/eclectictech.xml">Blubrry RSS feed</a></li>
</ul>

<h3>About the ARRL On The Air Podcast</h3>

<p><a href="http://www.arrl.org/on-the-air-podcast"><em>On
the Air</em> podcast</a> complements the bimonthly <a
href="http://www.arrl.org/read-on-the-air"><em>On the Air</em>
magazine</a> (an ARRL membership benefit) with additional resources,
techniques, and hints.

<p>The host of <em>On The Air</em> is Becky Schoenfeld, W1BXY. The first
episode of <em>On The Air</em> was published on January 16, 2020.</p>

<h3>About ARRL On The Air</h3>

<p><a href="http://www.arrl.org/On-the-Air-Magazine"><em>On The Air</em></a> is a collection of resources for new ham radio licensees:</p>

<ul>
<li><a href="http://www.arrl.org/read-on-the-air"><em>On the Air</em> Magazine</a></li>
<li><a href="http://www.arrl.org/on-the-air-podcast"><em>On the Air</em> Podcast</a></li>
<li><a href="http://www.arrl.org/on-the-air-blog"><em>On the Air</em> Blog</a></li>
<li><a href="https://www.facebook.com/ARRLOTA"><em>On the Air</em> Facebook</a></li>
</ul>

<figure class="wp-caption alignnone">
<img src="https://assets.blubrry.com/coverart/300/930449-721631.jpg" height="300" width="300" alt="Logo of the ARRL On The Air Podcast" />
<figcaption class="wp-caption-text"><a href="https://blubrry.com/">blubrry podcasting</a></figcaption>
</figure>
