<h3>About the ARRL Eclectic Tech Podcast</h3>

<p><em>Eclectic Tech</em> is a biweekly magazine-style podcast which
highlights technical and scientific topics involving amateur and
non-amateur technology. The podcast often features interviews with
individuals who are involved in projects of interest to radio amateurs.
The host of <em>Eclectic Tech</em> is Steve Ford, WB8IMY.</p>

<p>Enjoy <em>Eclectic Tech</em> on
<a href="https://podcasts.apple.com/us/podcast/eclectic-tech/id1494508760">Apple iTunes</a>
or by using your iPhone or iPad podcast app (just search for
<em>ARRL Eclectic Tech</em> or
<a href="https://feeds.blubrry.com/feeds/eclectictech.xml">subscribe to the RSS feed</a>).
You can also listen online at
<a href="https://blubrry.com/eclectictech/">Blubrry</a> or at
<a href="https://www.stitcher.com/podcast/arrl-2/eclectic-tech">Stitcher</a>
(free registration required, or browse the site as a guest) and through
the free Stitcher app for iOS, Kindle, or Android devices.</p>

<p><em>Eclectic Tech</em> is ARRL's successor to its acclaimed
<a href="http://www.arrl.org/doctor">The Doctor is In</a>
podcast which presented lively discussions of many technical aspects of
Amateur Radio from April 7, 2016, to December 19, 2019.</p>

<p>The first episode of <em>Eclectic Tech</em> was published on February 13,
2020.</p>

<figure class="wp-caption alignnone">
<img src="https://assets.blubrry.com/coverart/300/930450-899265.jpg" height="300" width="300" alt="Logo of the ARRL Eclectic Tech Podcast" />
<figcaption class="wp-caption-text"><a href="https://blubrry.com/">blubrry podcasting</a></figcaption>
</figure>
