{{ $anchor := index .Params 0 }}
{{ $title  := index .Params 1 }}
{{ $scratch := newScratch }}
{{ $scratch.Set "title" "top" }}
{{ if gt "" $title }}
	{{ $scratch.Set "title" $title }}
{{ else }}
	{{ if gt "" $anchor }}
		{{ $scratch.Set "title" $anchor }}
	{{ end }}
{{ end }}
<a class="alignright noprint" style="text-decoration:none;transform:translateY(1.4em);"
href="#{{ with $anchor }}{{ . | urlize }}{{ else }}top{{ end }}"
alt="Back to {{ $scratch.Get "title" }}"
title="Back to {{ $scratch.Get "title" }}">
<span class="genericons-neue genericons-neue-{{ with $anchor }}previous{{ else }}top{{ end }}"
style="width:24px;height:24px;font-size:24px;"></span></a>
