{{ $body := .Get "body" }}
{{ if or (gt .Inner "") (gt $body "") }}
	{{ with .Get "expires" }}
		{{ $today := now.Format "2006-01-02" }}
		{{ $expires := dateFormat "2006-01-02" ( . ) }}
		{{ if lt $today $expires }}
			<div class="banner">
			{{ with .Inner }}
				{{ . | markdownify }}
			{{ else }}
				{{ $body | markdownify }}
			{{ end }}
			</div>
		{{ end }}
	{{ else }}
		<div class="banner">
		{{ with .Inner }}
			{{ . | markdownify }}
		{{ else }}
			{{ $body | markdownify }}
		{{ end }}
		</div>
	{{ end }}
{{ end }}
