{{/*
Banner Short Code
By: Steve Kostecke k0stk@arrl.net

Named Arguments:

"expires" - banner expiration date, only YYYY-MM-DD is used

"body" - banner body; overridden by .Inner if closing tag is used

"class" - will be added to the banner div class definition
	Most useful value here is "alert" for a red banner

"publish" - banner publication date, only YYYY-MM-DD is used

*/}}

{{ $scratch := newScratch }}

{{ with .Get "body" }}{{ $scratch.Set "banner" . }}{{ end }}
{{ with .Inner }}{{ $scratch.Set "banner" . }}{{ end }}

{{ with .Get "expires" }}
	{{ $today := now.Format "2006-01-02" }}
	{{ $expires := dateFormat "2006-01-02" ( . ) }}
	{{ if gt $today $expires }}
		{{ $scratch.Set "banner" " " }}
	{{ end }}
{{ end }}

{{ with .Get "publish" }}
	{{ $today := now.Format "2006-01-02" }}
	{{ $publish := dateFormat "2006-01-02" ( . ) }}
	{{ if lt $today $publish }}
		{{ $scratch.Set "banner" " " }}
	{{ end }}
{{ end }}

{{ with .Get "class" }}
	{{ $scratch.Set "class" " " }}
	{{ $scratch.Add "class" ( . ) }}
{{ else }}
	{{ $scratch.Set "class" "" }}
{{ end }}

{{ if lt ( $scratch.Get "banner" ) " " }}
	<div class="clear banner{{ $scratch.Get "class"}}">
		{{ $markdown := $scratch.Get "banner" | markdownify }}
		{{ if not ( strings.Contains $markdown "<p>" ) }}
			<p>{{ $markdown }}</p>
		{{ else }}
			{{ $markdown }}
		{{ end }}
	</div>
	<p class="clear"></p>
{{ end }}
