{{ if .Get "block" }}
<div class="h-card">
{{ else }}
<span class="h-card">
{{ end }}
  {{ with .Get "p-name" }}<span class="p-name">{{.}}</span>{{ end }}{{ if .Get "block" }}<br />{{ else }},{{ end }}
  {{ with .Get "p-pob" }}<span class="p-post-office-box">{{.}}</span>{{ end }}{{ with .Get "p-adr" }}<span class="p-street-address">{{.}}</span>{{ end }}{{ if .Get "block" }}<br />{{ else }},{{ end }}
  {{ with .Get "p-loc" }}<span class="p-locality">{{.}}</span>{{ end }}{{ if and (.Get "p-loc") (.Get "p-reg") }},{{ end }}
  {{ with .Get "p-reg" }}<span class="p-region">{{.}}</span>{{ end }}
  {{ with .Get "p-zip" }}<span class="p-postal-code">{{.}}</span>{{ end }}
  {{ if and (.Get "block") (.Get "p-url") }}<br />{{ else if .Get "p-url" }},{{ end }}
  {{ with .Get "p-url" }}<a class="p-url" href="{{.}}">{{.}}</a>{{ end }}
  {{ if and (.Get "block") (.Get "p-email") }}<br />{{ else if .Get "p-email" }},{{ end }}
  {{ with .Get "p-email" }}<a class="p-email" href="mailto:{{.}}">{{.}}</a>{{ end }}
{{ if .Get "block" }}
</div>
{{ else }}
</span>
{{ end }}
