{{ $sign := index .Params 0 }}
{{ $recip := index .Page.Site.Data.call $sign }}
{{ if gt  $recip.email "" }}
  {{ if gt $recip.office "" }}
    {{ .Page.Scratch.Set "linktext" $recip.call }}
    {{ if isset .Params 1 }}
      {{ $linktext := $recip.call | printf "%s %s" $recip.name | printf "%s" }}
      {{ .Page.Scratch.Set "linktext" $linktext }}
    {{ end }}
  {{ else }}
    {{ .Page.Scratch.Set "linktext" $sign }}
    {{ if isset .Params 1 }}
      {{ $linktext := $sign | printf "%s %s" $recip.name | printf "%s" }}
      {{ .Page.Scratch.Set "linktext" $linktext }}
    {{ end }}
  {{ end }}
  {{ $email := "</a>" | printf "%s%s" ( .Page.Scratch.Get "linktext" ) | printf "%s%s" "\">" | printf "%s%s" $recip.email | printf "%s%s" "<a href=\"mailto:" | printf "%s" }}
  <script type="text/javascript">
  <!-- 
  function f( str ) { return decodeURIComponent(escape(window.atob( str ))); }
  X=('{{ $email | base64Encode }}')
  document.write(f(X))
   //-->
  </script>
  <noscript>
  {{ .Page.Scratch.Get "linktext" }}
  </noscript>
{{ else }}
  {{ .Page.Scratch.Get "linktext" }}
{{ end }}
