{{ $sign := index .Params 0 }}
{{ $option := index .Params 1 }}
{{ $filename := "toml" | printf "%s.%s" $sign | printf "%s/%s" "data/call" }}
{{ $scratch := newScratch }}

{{ if (fileExists $filename) }} {{/* Contact found in data/call, it is safe to proceed */}}
	{{ $recip := index .Page.Site.Data.call $sign }}
	{{ if ne $recip nil }} {{/* Read suceeded */}}
		{{ if gt $recip.email "" }}

			{{/* Name was requested and is available. This
			   * overides other options when possible.
			   */}}
			{{ if and ( findRE ".*?name" $option ) ( gt $recip.name "" ) }}
				{{ if gt $recip.call "" }}
					{{ $scratch.Set "call" $recip.call }}
				{{ else }}
					{{ $scratch.Set "call" $sign }}
				{{ end }}
				{{ if eq $option "fullname" }}
					{{ $scratch.Set "name" $recip.name }}
				{{ else }}
					{{ $scratch.Set "name" ( $recip.name | replaceRE " .*" "" )  }}
				{{ end }} 
				{{ $linktext := $scratch.Get "call" | printf "%s %s" ( $scratch.Get "name" ) | printf "%s" }}
				{{ $scratch.Set "linktext" $linktext }}

			{{/* Role contact */}}
			{{ else if gt $recip.role "" }}
				{{ $scratch.Set "linktext" $recip.role }}

			{{/* Hide their callsign */}}
			{{ else if or ( eq $recip.call "none" ) ( eq $recip.call "" ) }}
				{{ $scratch.Set "linktext" $recip.name }} 

			{{/* Last straw... */}}
			{{ else }}
				{{ $scratch.Set "linktext" $sign }}
			{{ end }}

			{{/* Output the obfuscated mailto markup */}}
			{{ $email := "</a><span class=\"genericon genericon-mail\"></span>" | printf "%s%s" ( $scratch.Get "linktext" ) | printf "%s%s" "\">" | printf "%s%s" $recip.email | printf "%s%s" "<a href=\"mailto:" | printf "%s" }}
			<script type="text/javascript">
			function f( str ) { return decodeURIComponent(escape(window.atob( str ))); }
			X=('{{ $email | base64Encode }}')
			document.write(f(X))
			</script>
			<noscript>
			{{ $scratch.Get "linktext" }}
			</noscript>
		{{ else }} {{/* No e-mail address on file */}}
			{{ $scratch.Get "linktext" }}
		{{ end }}
	{{ else }} {{/* Read failed */}}
		{{ $sign }}
	{{ end }}
{{ else }} {{/* Contact not found in data/call */}}
  {{ $sign }}
{{ end }}
