{{/* Ensure this is not <nil> to stop a printf error */}}
{{ $.Scratch.Set "subject" "" }}

{{/* Handle either named or positional parameters
   *
   * "id" is the identifier (usually callsign)
   * "option" can be (first) name or fullname
   * "subject" is the e-mail subject
   *
   * Positionals are (#1) "id" and (#2) "option" for
   * backwards compatibility. At some point option should
   * be restricted to named parameters only
   */}}
{{ if .IsNamedParams }}
	{{ with .Get "id" }}{{ $.Scratch.Set "sign" ( . ) }}{{ end }}
	{{ with .Get "option" }}{{ $.Scratch.Set "option" ( . ) }}{{ end }}
	{{ with .Get "subject" }}{{ $.Scratch.Set "subject" "&subject=" }}{{ $.Scratch.Add "subject" ( . | replaceRE ` ` "%20" ) }}{{ end }}
{{ else }}
	{{ with .Get 0 }}{{ $.Scratch.Set "sign" ( . ) }}{{ end }}
	{{ with .Get 1 }}{{ $.Scratch.Set "option" ( . ) }}{{ end }}
{{ end }}

{{ $sign := .Scratch.Get "sign" }}
{{ $option := .Scratch.Get "option" }}
{{ $subject := .Scratch.Get "subject" }}
{{ $filename := "toml" | printf "%s.%s" $sign | printf "%s/%s" "data/call" }}
{{ $scratch := newScratch }}

{{ if (fileExists $filename) }} {{/* Contact found in data/call, it is safe to proceed */}}
	{{ $recip := index .Page.Site.Data.call $sign }}
	{{ if ne $recip nil }} {{/* Read suceeded */}}
		{{ if gt $recip.email "" }}

			{{/* Name was requested and is available. This
			   * overides other options when possible.
			   */}}
			{{ if and ( findRE ".*?name" $option ) ( gt $recip.name "" ) }}
				{{ if gt $recip.call "" }}
					{{ $scratch.Set "call" $recip.call }}
				{{ else }}
					{{ $scratch.Set "call" $sign }}
				{{ end }}
				{{ if eq $option "fullname" }}
					{{ $scratch.Set "name" $recip.name }}
				{{ else }}
					{{ $scratch.Set "name" ( $recip.name | replaceRE " .*" "" )  }}
				{{ end }} 
				{{ $linktext := $scratch.Get "call" | printf "%s %s" ( $scratch.Get "name" ) | printf "%s" }}
				{{ $scratch.Set "linktext" $linktext }}

			{{/* Role contact */}}
			{{ else if gt $recip.role "" }}
				{{ $scratch.Set "linktext" $recip.role }}

			{{/* Hide their callsign */}}
			{{ else if or ( eq $recip.call "none" ) ( eq $recip.call "" ) }}
				{{ $scratch.Set "linktext" $recip.name }} 

			{{/* Last straw... */}}
			{{ else }}
				{{ $scratch.Set "linktext" $sign }}
			{{ end }}

			{{/* Output the obfuscated mailto markup */}}
			{{ $email := "</a><span class=\"genericon genericon-mail\"></span>" | printf "%s%s" ( $scratch.Get "linktext" ) | printf "%s%s" "\">" | printf "%s%s%s" $recip.email $subject | printf "%s%s" "<a href=\"mailto:" | printf "%s" }}
			<script>
			function f( str ) { return decodeURIComponent(escape(window.atob( str ))); }
			X=('{{ $email | base64Encode }}')
			document.write(f(X))
			</script>
			<noscript>
			{{ $scratch.Get "linktext" }}
			</noscript>
		{{ else }} {{/* No e-mail address on file */}}
			{{ $scratch.Get "linktext" }}
		{{ end }}
	{{ else }} {{/* Read failed */}}
		{{ $sign }}
	{{ end }}
{{ else }} {{/* Contact not found in data/call */}}
  {{ $sign }}
{{ end }}
