{{/*
Radio List Short Code
By: Steve Kostecke k0stk@arrl.net

Builds a table from definition files in
./data/radios such as:

location = "Moorhead, MN"
call = "[W0ILO](/radios/)"
mode = "Analog"
frequency = [ "444.875 + T123", "repeaterbook 27 267" ]
notes = "[RRRA](/)"
qrt = YYYY-MM-DD

All definition file lines are passed through the markdown formatter.

The "frequency" line can either be the two element array shown above or
a single string (e.g. "444.875 + T123").

The second member of the array version of the "frequency" line is used to 
generate a repeaterbook link

The "qrt" line specifies the (possibly future) date a radio system is shut
down. A qrt system will be listed as such in radio chart for 30 days following
the qrt date. Systems which have been qrt for more than 30 days are not
displayed.

*/}}

{{ $self  := index .Params 0 | urlize }}
{{ $scratch := newScratch }}
{{ $scratch.Set "modes" "All " }}

{{/* Modes displayed in the filter menu must be defined in config.toml */}}
{{ range sort $.Site.Data.radios ".mode" }}
	{{ $seen := $scratch.Get "modes" }}
	{{ if and ( in $.Site.Params.modes ( lower .mode ) ) ( not ( in $seen .mode ) ) }}
		{{ $scratch.Add "modes" .mode }}
		{{ $scratch.Add "modes" " " }}
	{{ end }}
{{ end }}

<ul class="pagination" style="padding: 0;"><li class="genericons-neue genericons-neue-search"></li>
{{ $modes := split ( $scratch.Get "modes" ) " " }}
{{ range $modes }}
	{{ $text := . }}
	{{ if not ( eq $self ( $text | urlize ) ) }}
	<li><a href="/radios/list/{{ $text | urlize }}/">{{ $text }}</a></li>
	{{ end }}
{{ end }}
</ul>

<p class="clear"></p>

<table>
<thead>
<tr>
<th>Location</th>
<th>ID &amp; Mode</th>
<th>Frequency</th>
<th>Notes</th>
</tr>
</thead>

{{/* QRT system publication cut off date (see QRT notes above) */}}
{{ $cutoff := now.AddDate 0 0 -30 | dateFormat "2006-01-02" }}

<tbody>
{{ range sort $.Site.Data.radios ".location" }}
	{{ $qrt := .qrt | default $cutoff }}
	{{ if ge $qrt $cutoff }}
		{{ $scratch.Set "test" $self }}
		{{ $mode := .mode | urlize }}

		{{/* Allow "MMDVM" repeaters to specify supported modes in their notes */}}
		{{ if and ( eq "mmdvm" $mode ) ( in ( .notes | urlize ) $self ) }}
			{{ $scratch.Set "test" ( printf "mmdvm|%s" $self ) }}
		{{ end }}

		{{ if or ( eq $self "all" ) ( or ( in ( $scratch.Get "test" ) $mode ) ) }}

		{{/* Load table cell contents */}}
		{{ if gt ( now.Format "2006-01-02" ) .qrt }} {{/* Lined out plain text */}}
			{{ $scratch.Set "location" ( "~~" | printf "%s%s" ( .location | plainify ) | printf "%s%s" "~~" ) }}
			{{ $scratch.Set "call" ( "~~" | printf "%s%s" ( .call | plainify ) | printf "%s%s" "~~" ) }}
			{{ $scratch.Set "mode" ( "~~" | printf "%s%s" ( .mode | plainify ) | printf "%s%s" "~~" ) }}
			{{ $scratch.Set "notes" "QRT " }}
			{{ $scratch.Add "notes" .qrt }}

			{{ if reflect.IsSlice .frequency }} {{/* we have an array */}}
				{{ $freq    := index .frequency 0 }}
				{{ $scratch.Set "freq" ( "~~" | printf "%s%s" ( $freq | plainify ) | printf "%s%s" "~~" ) }}
			{{ else }} {{/* its only a string */}}
				{{ $scratch.Set "freq" ( "~~" | printf "%s%s" ( .frequency | plainify ) | printf "%s%s" "~~" ) }}
			{{ end }}

		{{ else }}
			{{ $scratch.Set "location" ( .location ) }}
			{{ $scratch.Set "call" ( .call ) }}
			{{ $scratch.Set "mode" ( .mode ) }}
			{{ $scratch.Set "notes" ( .notes ) }}

			{{ if reflect.IsSlice .frequency }}
				{{ $freq    := index .frequency 0 }}
				{{ $rptbook := index .frequency 1 }}
				{{ $slice   := split $rptbook " " }}
				{{ $state   := index $slice 1 }}
				{{ $id      := index $slice 2 }}
				{{ $scratch.Set "freq" ( "</a>" | printf "\">%s%s" $freq | printf "&ID=%s%s" $id | printf "<a href=\"https://www.repeaterbook.com/repeaters/details.php?state_id=%s%s" $state | printf "%s" ) }} 
			{{ else }}
				{{ $scratch.Set "freq" ( .frequency ) }}
			{{ end }}

		{{ end }}

		<tr>
		<td>{{ $scratch.Get "location"  | markdownify }}</td>
		<td>{{ $scratch.Get "call" | markdownify }}<br \>{{ $scratch.Get "mode" | markdownify }}</td>
		<td>{{ $scratch.Get "freq" | markdownify }}</td>
		<td>{{ $scratch.Get "notes" | markdownify }}</td>
		</tr>
		{{ end }}
	{{ end }}
{{ end }}
</tbody>

</table>

