<table>
<thead>
<tr>
<th>Day &amp; Time</th>
<th>Name</th>
<th>Mode</th>
<th>Contact</th>
</tr>
</thead>

<tbody>
{{ range sort $.Site.Data.nets ".sort" }}

	<tr>
		<td>{{ .date | markdownify }}</td>
		<td>{{ .id | markdownify }}</td> 
		{{ if reflect.IsSlice .freq }}
			{{ $freq    := index .freq 0 }}
			{{ $rptbook := index .freq 1 }}
			{{ $slice   := split $rptbook " " }}
			{{ $state   := index $slice 1 }}
			{{ $id      := index $slice 2 }}
			<td><a href="https://www.repeaterbook.com/repeaters/details.php?state_id={{ $state }}&ID={{ $id }}">{{ $freq }}</a></td>
		{{ else }}
			<td>{{ .freq | markdownify }}</td>
		{{ end }}
		<td>
		{{ $sign := .contact }}
		{{ $filename := "toml" | printf "%s.%s" $sign | printf "%s/%s" "data/call" }}
		{{ if (fileExists $filename) }}
			{{ $recip := index $.Page.Site.Data.call $sign }}
			{{ if ne $recip nil }}
				{{ if gt  $recip.email "" }}
					{{ $email := "</a>" | printf "%s%s" ( $sign ) | printf "%s%s" "\">" | printf "%s%s" $recip.email | printf "%s%s" "<a href=\"mailto:" | printf "%s" }}
					<script type="text/javascript">
					function f( str ) { return decodeURIComponent(escape(window.atob( str ))); }
					X=('{{ $email | base64Encode }}')
					document.write(f(X))
					</script>
					<noscript>
					{{ $sign }}
					</noscript>
				{{ else }}
					{{ $sign }}
				{{ end }}
			{{ else }}
				{{ $sign }}
			{{ end }}
		{{ else }}{{ $sign }}{{ end }}
		</td>
	</tr>
{{ end }}
</tbody>

</table>

