{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			<header class="entry-header">
				<h1 class="entry-title">Calendar Index</h1>
			</header>

			{{ $thismonth := printf "%s-01" (.Now | dateFormat "01") | printf "%s-%s" (.Now | dateFormat "2006") | printf "%s" }}

			<div class="entry-content" style="padding-bottom:1em;">
				<dl>
				{{ $name := "calendar" }}
				{{ $series := index .Site.Taxonomies.series $name }}
				{{ range $series.Pages.ByDate }}
				  {{ $title := (time $thismonth).AddDate 0 (int .Params.offset) 0 | dateFormat "January 2006" }}
					<dt class="twocol"><a href="{{ .Permalink }}">{{ $title }}</a></dt>
				{{ end }}
				</dl>
			</div>

		</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}
