{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			<header class="entry-header">
				<h1 class="entry-title">RRRA Calendar</h1>
				{{ partial "rss" ( dict "rsstitle" "RRRA Calendar") }}
			</header>
			<div class="entry-content" style="padding-bottom:1em;">
				<ul id="list">
					{{ range .Data.Pages.ByDate }}
						{{ if and (ne ($.Scratch.Get "prevdate") nil) (eq ($.Scratch.Get "prevdate") ( .Date.Format "Mon, Jan 2, 2006" ) ) }}
							{{ .Render "sameday" }}
						{{ else }}
							{{ if ge .Date.Unix .Now.Unix }}
								{{ .Render "dli"}}
								{{ $.Scratch.Set "prevdate" (.Date.Format "Mon, Jan 2, 2006") }}
							{{ end }}
						{{ end }}
					{{ end }}
 				</ul>
			</div>
		</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}
